<h2>Answers to Clicker Questions Set 1</h2>

One of the important things to do with a question like this is to not let all of
that hex scare you.  Read over the entire question and get a game plan.
<p>
<hr>
<h3>Questions 1 and 2</h3>
Here, you don't need anything fancy for the first two questions: The printout
shows that <b>j</b> is pointing to <tt>0x00007f9cec4017e8</tt>, and that <b>*j</b>
is <tt>0xe3c017ff</tt>.  That value is an unsigned integer, because <b>j's</b> type is
<b>(unsigned int *)</b>.  The machine is little endian, so the low-order byte comes
first.  The answer is <tt>0xff</tt>: <b>J</b>.
<p>
The second question asks for the next byte, which is <tt>0x17</tt>.  The answer is <b>B</b>.
<p>
In case you need to see that a little better, here are the four bytes starting 
at <tt>0x00007f9cec4017e8</tt>, in little endian:
<p><center><table border=3 cellpadding=3><td><pre>
address                      values
                         3    2    1    0
0x00007f9cec4017e8    0xe3 0xc0 0x17 0xff
</pre></td></table></center><p>

<hr>
<h3>Question 3</h3>
Can you reason out question 3 without having to draw all of memory?  Maybe, but since
we can cut-and-paste <b>d</b> from our browser, let's do so and put the addresses in --
we'll do this with eight bytes on each line, since unsigned longs are 8 bytes:


<p><center><table border=3 cellpadding=3><td><pre>
address             what    value

                               7 6 5 4 3 2 1 0
0x00007f9cec401798   d[0]   0x00007f9cec4017c8
0x00007f9cec4017a0   d[1]   0x00007f9cec4017d8
0x00007f9cec4017a8   d[2]   0x00007f9cec4017e0
0x00007f9cec4017b0   d[3]   0x00007f9cec401790
0x00007f9cec4017b8   d[4]   0x00007f9cec4017d8
0x00007f9cec4017c0   d[5]   0x00007f9cec4017d0
0x00007f9cec4017c8   d[6]   0x00007f9cec4017c8
0x00007f9cec4017d0   d[7]   0x00007f9cec4017e8
0x00007f9cec4017d8   d[8]   0x00007f9cec401798
0x00007f9cec4017e0   d[9]   0x00007f9cec4017d8
</pre></td></table></center><p>

From that, you can see that the byte at <tt>0x00007f9cec4017a8</tt> is <tt>0xe0</tt>, 
and the answer is <b>H</b>.  To be honest, you could probably have eyeballed that
if you realized that since <b>d</b> is 80 bytes starting at <tt>0x00007f9cec401798</tt>,
we're looking at the low order byte of <b>d[2]</b>.  Either way.
<p>
<hr>
<h3>Question 4</h3>
Continuing, let's see if we can do question 4 without resorting to anything fancy.
We want the unsigned int at <b>k[4]</b>, which is <b>*(k+4)</b>.  That means we should
add 16 to <b>k's</b> pointer: 
<center>
<pre>
0x00007f9cec401790 + 0x10 = 0x00007f9cec4017a0
</pre>
</center>
From the picture above, we know the eight bytes starting at that address:

<p><center><table border=3 cellpadding=3><td><pre>
address             what    value

                               7 6 5 4 3 2 1 0
0x00007f9cec4017a0   d[1]   0x00007f9cec4017d8
</pre></td></table></center><p>

We're printing an unsigned int, so the answer is the 4 lowest bytes: <tt>0xec4017d8</tt>.
The answer is <b>H</b>.

<hr>
<h3>Question 5</h3>

From the printout, <b>x</b> is <tt>0x00007f9cec4017d0</tt>.  From the labeling of memory above,
we know that the 8 bytes at that address are <tt>0x00007f9cec4017e8</tt>, so that is
<b>*x</b>.  
<p>
To figure out <b>**x</b>, we need to figure out what's at address <tt>0x00007f9cec4017e8</tt>?
Looking at the printout from the problem statement, we realize that <b>j</b> is equal
to <tt>0x00007f9cec4017e8</tt>.  That means that <b>**x</b> equals <b>*j</b>.  They 
are both unsigned ints, so we simply use the printout of <b>*j</b>: <tt>0xe3c017ff</tt>.
The answer is <b>C</b>.

<hr>
<h3>Additional Advice</h3>

I addressed each question individually above.  The other thing that you can do with a question
like this one is to write out everything you know about memory.  This is similar to the 
listing above, but I've added <b>j</b> and <b>k</b>, which happen to be before and after
<b>d</b>, and I've split out the bytes.

<p><center><table border=3 cellpadding=3><td><pre>
address             what         value

                               7  6  5  4  3  2  1  0
0x00007f9cec401790    *k      ?? ?? ?? ?? 00 c0 17 05  -- we don't know the high order bytes
0x00007f9cec401798   d[0]     00 00 7f 9c ec 40 17 c8
0x00007f9cec4017a0   d[1]     00 00 7f 9c ec 40 17 d8
0x00007f9cec4017a8   d[2]     00 00 7f 9c ec 40 17 e0
0x00007f9cec4017b0   d[3]     00 00 7f 9c ec 40 17 90
0x00007f9cec4017b8   d[4]     00 00 7f 9c ec 40 17 d8
0x00007f9cec4017c0   d[5]     00 00 7f 9c ec 40 17 d0
0x00007f9cec4017c8   d[6]     00 00 7f 9c ec 40 17 c8
0x00007f9cec4017d0   d[7]     00 00 7f 9c ec 40 17 e8
0x00007f9cec4017d8   d[8]     00 00 7f 9c ec 40 17 98
0x00007f9cec4017e0   d[9]     00 00 7f 9c ec 40 17 d8
0x00007f9cec4017e8    *j      ?? ?? ?? ?? e3 c0 17 ff  -- we don't know the high order bytes
</pre></td></table></center><p>

Questions 1-4 fall out naturally from this picture, and with a little reasoning, you
can get question 5 too!
