<h3>Clicker Questions Set 1</h3>

Behold the procedure <b>a()</b>:

<p><center><table border=3 cellpadding=3><td><pre>
void a(unsigned long *d, unsigned int *j, unsigned int *k)
{
  int i;
  printf("d    = 0x%016lx\n", (unsigned long) d);
  printf("j    = 0x%016lx\n", (unsigned long) j);
  printf("k    = 0x%016lx\n\n", (unsigned long) k);
  printf("*j   = 0x%08x\n", *j);
  printf("*k   = 0x%08x\n\n", *k);
  
  for (i = 0; i &lt; 10; i++) printf("d[%d] = 0x%016lx\n", i, d[i]);
}
</pre></td></table></center><p>

When I run this, I get the following output:

<p><center><table border=3 cellpadding=3><td><pre>
d    = 0x00007f9cec401798
j    = 0x00007f9cec4017e8
k    = 0x00007f9cec401790

*j   = 0xe3c017ff
*k   = 0x00c01705

d[0] = 0x00007f9cec4017c8
d[1] = 0x00007f9cec4017d8
d[2] = 0x00007f9cec4017e0
d[3] = 0x00007f9cec401790
d[4] = 0x00007f9cec4017d8
d[5] = 0x00007f9cec4017d0
d[6] = 0x00007f9cec4017c8
d[7] = 0x00007f9cec4017e8
d[8] = 0x00007f9cec401798
d[9] = 0x00007f9cec4017d8
</pre></td></table></center><p>

My machine has 8 byte pointers and is in little endian.  Please answer the following questions:

<UL>
<LI> <b>Question 1</b>: what is the byte, in hex, at address <tt>0x00007f9cec4017e8</tt>?
<center>
<pre>
A. 0x00   B. 0x17   C. 0x40   D. 0x7f   E. 0x90   F. 0x9c   G. 0xc8   H. 0xe0   I. 0xe8   J. 0xff
<pre>
</center>
<p>
<LI> <b>Question 2</b>: what is the byte, in hex, at address <tt>0x00007f9cec4017e9</tt>?
<center>
<pre>
A. 0x00   B. 0x17   C. 0x40   D. 0x7f   E. 0x90   F. 0x9c   G. 0xc8   H. 0xe0   I. 0xe8   J. 0xff
<pre>
</center>
<LI> <b>Question 3</b>: what is the byte, in hex, at address <tt>0x00007f9cec4017a8</tt>?
<center>
<pre>
A. 0x00   B. 0x17   C. 0x40   D. 0x7f   E. 0x90   F. 0x9c   G. 0xc8   H. 0xe0   I. 0xe8   J. 0xff
<pre>
</center>

<LI> <b>Question 4</b>: What will the following <b>printf()</b> statement print?
<p><center><table border=3 cellpadding=3><td><pre>
printf("0x%08lx\n", k[4]);
</pre></td></table></center><p>
<center>
<pre>
A. 0x00007f9c     C. 0xe3c017ff     E. 0xec401798     G. 0xec4017d0     I. 0xec4017e0
B. 0x00c01705     D. 0xec401790     F. 0xec4017c8     H. 0xec4017d8     J. 0xec4017e8
</pre>
</center>

<LI> <b>Question 5</b>: What will the following <b>printf()</b> statement print?
<p><center><table border=3 cellpadding=3><td><pre>
unsigned int **x;

x = (unsigned int **) d[5]
printf("0x%08lx\n", **x);
</pre></td></table></center><p>
<center>
<pre>
A. 0x00007f9c     C. 0xe3c017ff     E. 0xec401798     G. 0xec4017d0     I. 0xec4017e0
B. 0x00c01705     D. 0xec401790     F. 0xec4017c8     H. 0xec4017d8     J. 0xec4017e8
</pre>
</center>
</UL>
