<title>Clicker questions for the exec lecture</title>

<h2>Clicker questions for the exec lecture</h2>

<hr>
<h3>Question 1</h3>

Behold the following program:

<p><center><table border=3 cellpadding=3><td><pre>
#include &lt;stdio.h&gt;
#include &lt;stdlib.h&gt;
#include &lt;unistd.h&gt;
#include &lt;sys/wait.h&gt;

int main()
{
  int i, status;

  for (i = 0; i &lt; 3; i++) fork();
  printf("Process %d exiting.\n", getpid());
  return 0;
}
</pre></td></table></center><p>

How many lines does it print?  Let me give you a hint.  Every process that is created
in this program prints exactly one line, right before it exits.

<hr>
<h3>Question 2</h3>

I'm going to add one line to the program:

<p><center><table border=3 cellpadding=3><td><pre>
#include &lt;stdio.h&gt;
#include &lt;stdlib.h&gt;
#include &lt;unistd.h&gt;
#include &lt;sys/wait.h&gt;

int main()
{
  int i, status;

  for (i = 0; i &lt; 3; i++) fork();
  for (i = 0; i &lt; 3; i++) wait(&status);   <font color=blue>// Here's the new line.</font>
  printf("Process %d exiting.\n", getpid());
  return 0;
}
</pre></td></table></center><p>
Which of the following is true?

<UL>
<LI> <i>A</i>: <b>wait()</b> is called too many times, and the program will never return.
<LI> <i>B</i>: <b>wait()</b> is called too few times.  There will be zombies.
<LI> <i>C</i>: <b>wait()</b> is called the correct number of times.  All is good.
<LI> <i>D</i>: <b>wait()</b> is called too few times.  There will be orphans.
<LI> <i>E</i>: <b>wait()</b> is called too many times, and there will be a segmentation violation.
<LI> <i>F</i>: <b>wait()</b> is called too many times.  Some processes will return.  Some won't.
<LI> <i>G</i>: <b>wait()</b> is called too many times, but the program will return.
</UL>

<hr>
<h3>Questions 3-5</h3>

Behold the following program:

<p><center><table border=3 cellpadding=3><td><pre>
#include &lt;stdio.h&gt;
#include &lt;stdlib.h&gt;
#include &lt;unistd.h&gt;

int main(int argc, char **argv)
{
  int t;

  t = (fork() == 0) ? atoi(argv[1]) : atoi(argv[2]) ;
  sleep(t);
  return 0;
}
</pre></td></table></center><p>

Here are your answer keys.  You will answer <i>two</i> of these per question:

<UL>
<LI> <i>A</i>: The parent will become a zombie.
<LI> <i>B</i>: The parent will become an orphan.
<LI> <i>C</i>: The parent will become neither an orphan nor a zombie.
<LI> <i>D</i>: It is undetermined what happens to the parent.
<p>
<LI> <i>E</i>: The child will become a zombie.
<LI> <i>F</i>: The child will become an orphan.
<LI> <i>G</i>: The child will become neither an orphan nor a zombie.
<LI> <i>H</i>: It is undetermined what happens to the child.
</UL>

<b>Question 3</b>: In the shell, I call: <tt>./a.out 5 10</tt>
<p>
<b>Question 4</b>: In the shell, I call: <tt>./a.out 10 5</tt>
<p>
<b>Question 5</b>: In the shell, I call: <tt>./a.out 5 5</tt>
