<title>Answers to clicker questions for the exec lecture</title>

<h2>Answers to clicker questions for the exec lecture</h2>

<hr>
<h3>Question 1</h3>

This example is similar to the example in the <b>fork()</b> lecture notes.  It's a fork bomb.
Let's count the processes from the top of the <b>for</b> loop:

<UL>
<LI> <i>i = 0</i>: There is just the parent, which calls <b>fork()</b> once.  
So, two processes reach the bottom of the <b>for</b> loop with <i>i = 0</i>.
<LI> <i>i = 1</i>: Two processes start with <i>i = 1</i> and they both call <b>fork()</b>.
So, four processes reach the bottom of the <b>for</b> loop with <i>i = 1</i>.
<LI> <i>i = 2</i>: Four processes start with <i>i = 2</i> and they both call <b>fork()</b>.
So, four processes reach the bottom of the <b>for</b> loop with <i>i = 2</i>.
<LI> <i>i = 3</i>: Eight processes start with <i>i = 3</i> and they both call <b>fork()</b>.
So, eight processes reach the bottom of the <b>for</b> loop with <i>i = 3</i>.
</UL>

At that point, each of the eight processes will exit the <b>for</b> loop and print their lines.
So eight lines will be printed:

<pre>
UNIX> <font color=darkred><b>gcc src/clicker1.c</b></font>
UNIX> <font color=darkred><b>./a.out | wc</b></font>
       8      24     184
UNIX> <font color=darkred><b></b></font>
</pre>

<hr>
<h3>Question 2</h3>

It should be clear that <b>wait()</b> is called too many times.  All of those 
processes that were created when <i>i=3</i> don't call <b>fork()</b>, so they have no 
children.  The ones that were created when <i>i=2</i> called <b>fork()</b> once, so
they only have one child each, not three.  Etc.
<p>
On the flip side, if you call <b>wait()</b> with no children, then <b>wait()</b> simply
returns.  So the answer is:

<p><center><table border=3 cellpadding=3><td>
<i>G</i>: <b>wait()</b> is called too many times, but the program will return.
</td></table></center><p>
<p>

<pre>
UNIX> <font color=darkred><b>gcc src/clicker2.c</b></font>
UNIX> <font color=darkred><b>./a.out</b></font>
Process 83010 exiting.
Process 83012 exiting.
Process 83013 exiting.
Process 83009 exiting.
Process 83014 exiting.
Process 83011 exiting.
Process 83008 exiting.
Process 83007 exiting.
UNIX> <font color=darkred><b></b></font>
</pre>

<hr>
<h3>Questions 3-5</h3>

So, the parent sleeps for <b>atoi(argv[2])</b> seconds before exiting, and
    the child sleeps for <b>atoi(argv[1])</b> seconds before exiting.
<p>
<b>Question 3:</b> The child dies first.  So the parent is alive and not waiting.
That means that the child is a zombie.  The parent is neither a zombie nor an orphan.
The answers are <i>C</i> and <i>E</i>.  
<p>
<b>Question 4:</b> The parent dies first.  So the child is alive, but has no parent.
That means that the child is an orphan.  The parent is neither a zombie nor an orphan.
The answers are <i>C</i> and <i>F</i>.  
<p>
<b>Question 5:</b> Since they sleep for roughly the same amount of time, it's undetermined
whether the child or parent dies first.  So we don't know if the child becomes a zombie
as in Question 3 or an orphan as in Question 4.
The answers are <i>C</i> and <i>H</i>.  
<p>
You'll note that in all cases the parent is neither a zombie nor an orphan.  That's
because the shell is waiting for it!
