<h3>Answer to Clicker questions (about strings and pointer arithmetic).</h3>

As always, the best thing is to put the string into your text editor, and use
the asterisk to denote the NULL character.

<pre>
01234567890123456789012345678901234567890123456789*
^
s
</pre>

It's convenient that the character at index <i>i</i> is <i>i%10</i>.  
<p>
<hr>
<b>Question 1</b>: The string starting at index 45 starts at the last '5':

<pre>
01234567890123456789012345678901234567890123456789*
^                                            ^
|                                            |
s                                            s+45
</pre>

So the answer to question 1 is

<p><center><table border=3 cellpadding=3><td><pre>
56789
</pre></td></table></center><p>
<hr>
<b>Questions 2 through 6</b>: After printing the first line, the <b>for</b> loop puts
a NULL character every 9th character, starting at index 0.  Here's what the string
becomes:
<pre>
*12345678*01234567*90123456*89012345*78901234*6789*
^
s
</pre>

Let's also highlight every 11th character:

<pre>
*12345678*01234567*90123456*89012345*78901234*6789*
^          ^          ^          ^          ^
|          |          |          |          |
s+0        s+11       s+22       s+33       s+44
</pre>

So, here are lines two through six:

<p><center><table border=3 cellpadding=3><td><pre>
0-
11-1234567
22-23456
33-345
44-4
</pre></td></table></center><p>

<hr>
<b>Question 7</b>: Finally, let's look at the string and label <i>s+12</i>, <i>s+15</i> and <i>s+40</i>:

<pre>
*12345678*01234567*90123456*89012345*78901234*6789*
^           ^  ^                        ^
|           |  |                        |
s        s+12  s+15                     s+40     
</pre>

The <b>strcat()</b> statement will put the string starting at <i>s+40</i>: "01234" at the end
of the string starting at <i>s+12</i>:

<pre>
*12345678*0123456701234*456*89012345*78901234*6789*
^           ^  ^                        ^
|           |  |                        |
s        s+12  s+15                     s+40     
</pre>

The last line is therefore:

<p><center><table border=3 cellpadding=3><td><pre>
56701234
</pre></td></table></center><p>
