<h3>Clicker question (about strings and pointer arithmetic).</h3>

Behold the following program in C:
(in <b><a href=src/clicker.c>src/clicker.c</a></b>)

<p><center><table border=3 cellpadding=3><td><pre>
#include &lt;stdio.h&gt;
#include &lt;stdlib.h&gt;
#include &lt;string.h&gt;

int main()
{
  char s[51];
  int i;

  for (i = 0; i &lt; 50; i++) s[i] = '0' + i % 10;
  s[i] = '\0';

  printf("%s\n", s+45);            <font color=blue>/* First line. */</font>

  for (i = 0; i &lt; 50; i += 9) s[i] = '\0';
  for (i = 0; i &lt; 50; i += 11) printf("%d-%s\n", i, s+i);  <font color=blue>/* Lines two through six */</font>

  strcat(s+10, s+40);
  printf("%s\n", s+15);      <font color=blue>/* Last line */</font>
  
  return 0;
}
</pre></td></table></center><p>

This program has seven lines of output.  Each clicker question asks for a line of output.

<UL>
<LI> Question 1: What is line 1?
<LI> Question 2: What is line 2?
<LI> Question 3: What is line 3?
<LI> Question 4: What is line 4?
<LI> Question 5: What is line 5?
<LI> Question 6: What is line 6?
<LI> Question 7: What is line 7?
</UL>
