The following is the state of memory at addresses 0x61626324 through 0x6162637f.  In each line, I show:
<UL>
<LI> The pointer address to the first of four bytes.
<LI> The four bytes in decimal.
<LI> The four bytes in hexadecimal.
<LI> The four bytes as chars.
</UL>
The machine is little endian, but I've printed the characters in big-endian (e.g. 0, 1, 2, 3).
The pointers are four bytes.

<p><center><table border=3 cellpadding=3><td><pre>

     Pointer        Decimal        Hex            As chars          
    ----------    ----------    ----------    ------------------    
    0x61626324    1633837950    0x6162637e    '~' |'c' |'b' |'a'     
    0x61626328    1633837914    0x6162635a    'Z' |'c' |'b' |'a'     
    0x6162632c    1633837878    0x61626336    '6' |'c' |'b' |'a'     
    0x61626330    1633837916    0x6162635c     -- |'c' |'b' |'a'     
    0x61626334    1633837951    0x6162637f     -- |'c' |'b' |'a'     
    0x61626338    1633837931    0x6162636b    'k' |'c' |'b' |'a'     
    0x6162633c    1633837911    0x61626357    'W' |'c' |'b' |'a'     
    0x61626340    1633837920    0x61626360    '`' |'c' |'b' |'a'     
    0x61626344    1633837877    0x61626335    '5' |'c' |'b' |'a'     
    0x61626348    1633837910    0x61626356    'V' |'c' |'b' |'a'     
    0x6162634c    1633837905    0x61626351    'Q' |'c' |'b' |'a'     
    0x61626350    1633837936    0x61626370    'p' |'c' |'b' |'a'     
    0x61626354    1633837893    0x61626345    'E' |'c' |'b' |'a'     
    0x61626358    1633837873    0x61626331    '1' |'c' |'b' |'a'     
    0x6162635c    1633837942    0x61626376    'v' |'c' |'b' |'a'     
    0x61626360    1633837860    0x61626324    '$' |'c' |'b' |'a'     
    0x61626364    1633837905    0x61626351    'Q' |'c' |'b' |'a'     
    0x61626368    1633837917    0x6162635d    ']' |'c' |'b' |'a'     
    0x6162636c    1633837883    0x6162633b    ';' |'c' |'b' |'a'     
    0x61626370    1633837920    0x61626360    '`' |'c' |'b' |'a'     
    0x61626374    1633837900    0x6162634c    'L' |'c' |'b' |'a'     
    0x61626378    1633837944    0x61626378    'x' |'c' |'b' |'a'     
    0x6162637c    1633837931    0x6162636b    'k' |'c' |'b' |'a'     

</pre></td></table></center><p>

When you run the following procedure, the value of <b>p</b> is <tt>0x61626324</tt>.

<p><center><table border=3 cellpadding=3><td><pre>
typedef struct ms {
  char a;
  char b;
  char c;
  char d;
  int e;
  char *f;
  struct ms *g;
} Mystruct;

void pm(Mystruct *p)
{
   Mystruct *q;

   printf("%c\n", p-&gt;b);
   printf("%c%c%c%c\n", p-&gt;f[0], p-&gt;f[1], p-&gt;f[2], p-&gt;f[3]);
   printf("%d\n", p[1].e);
   q = p+4;
   printf("0x%x\n", (unsigned int) q-&gt;f);
   q = p-&gt;g;
   printf("%c\n", (unsigned int) q-&gt;a);
   q = q[1].g;
   printf("%c\n", (unsigned int) q-&gt;a);
}
</pre></td></table></center><p>

<UL>
<LI> <b>Question 1</b>: What is the first line of output?
<LI> <b>Question 2</b>: What is the second line of output?
<LI> <b>Question 3</b>: What is the third line of output?
<LI> <b>Question 4</b>: What is the fourth line of output?
<LI> <b>Question 5</b>: What is the fifth line of output?
<LI> <b>Question 6</b>: What is the sixth line of output?
</UL>

<p>
Hint #1: Your first question should be, "How many bytes are in a <b>Mystruct</b>?
<p>
Hint #2: Your second question should be, "If I have a pointer to a <b>Mystruct</b>, then where
do I find the various fields, <b>a</b>, <b>b</b>, <b>c</b>, etc.?"
<p>
Hint #3: Your third question should be, "If I have a pointer <b>p</b>, to a <b>Mystruct</b>, 
then what is the pointer value of <b>p+x</b>?"
