<h3>Answers to the clicker questions</h3>

The <b>Mystruct</b> struct has 16 bytes:

<UL>
<LI> Bytes 0 through 3: the characters <b>a</b> through <b>d</b>.
<LI> Bytes 4 through 7: the integer <b>e</b>.
<LI> Bytes 8 through 11: the <b>(char *)</b> <b>f</b>.
<LI> Bytes 12 through 15: the <b>(Mystruct *)</b> <b>a</b>.
</UL>

<hr>
<b>Question 1</b>

Since <b>p</b> is <tt>0x61626324</tt>, <b>p->b</b> is the second of the four characters
that start at that line.  It is the character <tt>'c'</tt>.

<hr>
<b>Question 2</b>

Since <b>p</b> is <tt>0x61626324</tt>, <b>p->f</b> is the pointer stored at 
<tt>0x6162632c</tt>, whose value is
<tt>0x61626336</tt>.  The four characters will the the ones that start at that adddress, so
'b', 'a', 'k' and 'c'.


<hr>
<b>Question 3</b>

Since <b>p</b> is <tt>0x61626324</tt> and the <b>Mystruct</b> is 16 bytes, <b>p+1</b>
will be <tt>0x61626334</tt>.  Therefore, <b>p[1].e</b> will be the four bytes at
address
<tt>0x61626338</tt>: 1633837931.

<hr>
<b>Question 4</b>

Since <b>p</b> is <tt>0x61626324</tt> and the <b>Mystruct</b> is 16 bytes, <b>p+4</b>
will be <tt>0x61626364</tt>.  Therefore, <b>q->f</b> will be the four bytes at
address
<tt>0x6162636c</tt>: 0x6162633b.


<hr>
<b>Question 5</b>

Since <b>p</b> is <tt>0x61626324</tt>, we know that 
<b>p->q</b> is the pointer at address
<tt>0x61626330</tt>, which has the value <tt>0x6162635c</tt>.  So, <b>q</b>
is <tt>0x6162635c</tt>, and <b>q->a</b> is the first character there: 'v'

<hr>
<b>Question 6</b>

<b>q</b> is <tt>0x6162635c</tt>, so 
<b>q+1</b> is <tt>0x6162636c</tt>.  That means
<b>q[1].g</b> is the four bytes at <tt>0x61626378</tt>, which happen to also equal
<tt>0x61626378</tt>.  When we set <b>q</b> to <tt>0x61626378</tt>, <b>q->a</b> is the
first character there: 'x'.

<hr>
So the program prints:


<p><center><table border=3 cellpadding=3><td><pre>
c
bakc
1633837931
0x6162633b
v
x
</pre></td></table></center><p>
