<h3>Clicker Questions</h3>

Our machine is little endian with four-byte pointers.  Behold the following program:

<p><center><table border=3 cellpadding=3><td><pre>
#include &lt;stdio.h&gt;
#include &lt;stdlib.h&gt;
#include &lt;string.h&gt;

int main()
{
  int i, j, k, l;
  int *ip;

  i = 0xaaaaaaaa;
  j = 0xbbbbbbbb;
  k = 0xcccccccc;
  l = 0xdddddddd;

  ip = &k;
  printf("&i: 0x%x\n", (unsigned int) &i);
  printf("&j: 0x%x\n", (unsigned int) &j);
  printf("&k: 0x%x\n", (unsigned int) &k);
  printf("&l: 0x%x\n", (unsigned int) &l);
  printf("ip: 0x%x\n", (unsigned int) ip);

  strcpy((char *) ip, "abcdefg");
  printf("0x%x\n", i);
  printf("0x%x\n", j);
  printf("0x%x\n", k);
  printf("0x%x\n", l);
  
  return 0;
}
</pre></td></table></center><p>

When I run this program, here are the first five lines of output:

<pre>
&amp;i: 0xeab161a8
&amp;j: 0xeab161a4
&amp;k: 0xeab161a0
&amp;l: 0xeab1619c
ip: 0xeab161a0
</pre>

The character 'a' is 0x61 in hex.

<UL>
<LI> Question 1: What is the 6th line of output?
<LI> Question 2: What is the 7th line of output?
<LI> Question 3: What is the 8th line of output?
<LI> Question 4: What is the 9th line of output?
</UL>


