<h2>Today's clicker questions</h2>

Behold the following program, in 
<b><a href=src/click1.c>src/click1.c</a></b>.

<p><center><table border=3 cellpadding=3><td><pre>
#include &lt;stdio.h&gt;
#include &lt;stdlib.h&gt;
#include &lt;unistd.h&gt;
#include &lt;fcntl.h&gt;

int main()
{
  FILE *f;
  int i, j;

  f = fopen("f4.txt", "r");
  fscanf(f, "%d", &i);

  if (fork() != 0) sleep(1);
  fscanf(f, "%d", &j);
  printf("%d %d\n", i, j);
  return 1;
}
</pre></td></table></center><p>

What is the output of the last command in the following?

<pre>
UNIX> <font color=darkred><b>gcc src/click1.c</b></font>
UNIX> <font color=darkred><b>cat f4.txt</b></font>
1 2 3 4
UNIX> <font color=darkred><b>./a.out</b></font>
</pre>

Please remember that the stdio buffers when it's dealing with files.  <br>
I'll say it again: Please remember that the stdio buffers when it's dealing with files.  
<p>
Your choices are:

<pre>
A. "1 2" then "1 2"
B. "1 2" then "1 3"
C. "1 2" then "2 4"
D. "1 2" then "3 4"
E. "1 3" then "1 2"
F. "1 3" then "1 3"
G. "1 3" then "2 4"
H. "1 3" then "3 4"
I. "2 3" then "1 2"
J. "2 3" then "1 3"
</pre>

<hr>
<h3>Question 2</h3>

How many lines does the following program print?

<p><center><table border=3 cellpadding=3><td><pre>
#include &lt;stdio.h&gt;
#include &lt;stdlib.h&gt;
#include &lt;unistd.h&gt;

int main()
{
  int i;

  for (i = 0; i &lt; 3; i++) fork();
  printf("Hi\n");
  return 0;
}
</pre></td></table></center><p>

<hr>
<h3>Question 3</h3>

Behold the following program, in 
<b><a href=src/click3.c>src/click3.c</a></b>:

<p><center><table border=3 cellpadding=3><td><pre>
#include &lt;stdio.h&gt;
#include &lt;stdlib.h&gt;
#include &lt;unistd.h&gt;
#include &lt;fcntl.h&gt;

int main()
{
  int i;
  int fd, fd2;
  int status;

  fd = open ("f1.txt", O_WRONLY | O_CREAT | O_TRUNC, 0666);

  for (i = 0; i &lt; 5; i++) {
    if (fork() == 0) {
      fd2 = open ("f2.txt", O_WRONLY | O_CREAT | O_TRUNC, 0666);
      write(fd2, "Binky\n", 6);
      i = 10;
    }
  }

  write(fd, "Fred\n", 5);
  
  close(fd);
  close(fd2);
  return 0;
}
</pre></td></table></center><p>

Suppose I run the following:

<pre>
UNIX> <font color=darkred><b>gcc src/click3.c</b></font>
UNIX> <font color=darkred><b>./a.out</b></font>
UNIX>                 <font color=blue> # Wait a few seconds</font>
UNIX> <font color=darkred><b>cat f1.txt f2.txt</b></font>
</pre>

How many lines does that last statement print?
