<h2>Answers to today's clicker questions</h2>

<h3>Question 1</h3>

The stdio library does buffering on input and output.
With input, that means that when you call <b>fscanf(f...</b>, and
<b>f</b> is a file, then the stdio library will do a big <b>read()</b>
and store the results into a buffer.  That way, the second <b>fscanf()</b>
doesn't have to do a system call.
<p>
In the case of this program, the first <b>fscanf()</b> will read the 
entire file into a buffer and return 1.  The <b>fork()</b> call then 
duplicates the buffer into the address space of the child.  Because of that,
<i>both</i> processes will read 2 in the second <b>fscanf()</b> statement.
The answer is A:

<pre>
UNIX> <font color=darkred><b>gcc src/click1.c</b></font>
UNIX> <font color=darkred><b>./a.out</b></font>
1 2
1 2
UNIX> 
</pre>

<hr>
<h3>Question 2</h3>

We've been over this type of program a lot:

<UL>
<LI> At the end of the first iteration of the <b>for</b> loop, there will
     be two processes.
<LI> At the end of the second iteration of the <b>for</b> loop, there will
     be four processes.
<LI> At the end of the third iteration of the <b>for</b> loop, there will
     be eight processes.
</UL>

The answer is 8.

<hr>
<h3>Question 3</h3>

In this program the parent calls <b>fork()</b> five times.  The children
all open <b>f2.txt</b> and write "Binky".  Each child will overwrite the
file, so at the end of the program, <b>f2.txt</b> contains a single line: 
"Binky."
<p>
The children all set <i>i</i> to 10, so they leave the <b>for</b> loop
at that time.
<p>
All six processes (the parent and the five children) write "Fred"
to <b>fd1</b>, which, because of the <b>fork()</b> call, is shared.
In particular, they all share the same <b>seek</b> pointer for the file,
so each process appends "Fred" to the file.
<p>
At the end, there are six "Fred" lines in <b>f1.txt</b> and one "Binky"
line in <b>f2.txt</b>.  The answer is 7.

<pre>
UNIX> <font color=darkred><b>gcc src/click3.c</b></font>
UNIX> <font color=darkred><b>./a.out</b></font>
UNIX> <font color=darkred><b>cat -n f1.txt f2.txt</b></font>
     1	Fred
     2	Fred
     3	Fred
     4	Fred
     5	Fred
     6	Fred
     1	Binky
UNIX> <font color=darkred><b></b></font>
</pre>

