<h3>Clicker Questions for Today</h3>

To explain this question, first, identify the nodes on the free list:

<UL>
<LI> Node 1: Starts at 0x58a00 and is 0x30 = 48 bytes in size.  Why 0x30?  Because
the first four bytes are the size.  The next four bytes are <b>flink</b>, so the
next node on the free list is 0x589a0.
<p>
<LI> Node 2: Starts at 0x589a0 and is 0x10 = 16 bytes in size.  Its <b>flink</b>
value is 0x589d0, so that's the next node on the free list.
<p>
<LI> Node 3: Starts at 0x589d0 and is 0x18 = 24 bytes in size.  Its <b>flink</b>
value is 0x00000, so that's the end of the free list.
</UL>

That gives you the answer to questions 1 - 4:

<UL>
<LI> <b>Question 1</b>: 0x30 or 48.
<LI> <b>Question 2</b>: 0x589a0.
<LI> <b>Question 3</b>: 0x10 or 16.
<LI> <b>Question 4</b>: 3.
</UL>

Now, to answer the rest of the question, it's helpful to differentiate the free
memory from the allocated memory.  I've done that below by coloring the free memory blue:

<p><center><table border=3 cellpadding=3><td><pre>
     Address  Value     
     -------  -------     
<font color=blue>     0x589a0  0x00010     
     0x589a4  0x589d0     
     0x589a8  0x58a00     
     0x589ac  0x00018     </font>
     0x589b0  0x00020     
     0x589b4  0x00018     
     0x589b8  0x589e0     
     0x589bc  0x58a08     
     0x589c0  0x58a44     
     0x589c4  0x589cc     
     0x589c8  0x00010     
     0x589cc  0x589ec     
 <font color=blue>    0x589d0  0x00018     
     0x589d4  0x00000     
     0x589d8  0x589a0     
     0x589dc  0x589e0     </font>
</pre></td><td><pre>
     Address  Value     
     -------  -------     
 <font color=blue>    0x589e0  0x58a3c     
     0x589e4  0x00018     </font>
     0x589e8  0x00018     
     0x589ec  0x589c0     
     0x589f0  0x58a1c     
     0x589f4  0x00020     
     0x589f8  0x58a30     
     0x589fc  0x58a08     
 <font color=blue>    0x58a00  0x00030     
     0x58a04  0x589a0     
     0x58a08  0x00000     
     0x58a0c  0x58a1c     
     0x58a10  0x58a24     
     0x58a14  0x58a1c     
     0x58a18  0x58a00     
     0x58a1c  0x589cc     </font>
</pre></td><td><pre>
     Address  Value     
     -------  -------     
 <font color=blue>    0x58a20  0x58a20     
     0x58a24  0x00030     
     0x58a28  0x00018     
     0x58a2c  0x58a3c     </font>
     0x58a30  0x00010     
     0x58a34  0x589a0     
     0x58a38  0x589c8     
     0x58a3c  0x00020     
     0x58a40  0x00018     
     0x58a44  0x589c0     
     0x58a48  0x58a18     
     0x58a4c  0x00010     
     0x58a50  0x00008     
     0x58a54  0x589a0     
     0x58a58  0x589a0     
     0x58a5c  0x58a24     
</pre></td></table></center><p>     

The allocated memory will be the memory in the black font.  The first 4 bytes of a chunk will
be the chunk's size.  So:

<UL>
<LI> Chunk 1: Address = 0x589b0 and Size = 0x20 or 32 bytes.  Therefore, the chunk goes
     right up to the free chunk at 0x589d0.
<LI> Chunk 2: Address = 0x589e8 and Size = 0x18 or 24 bytes.  Therefore, the chunk goes
     right up to the free chunk at 0x58a00.
<LI> Chunk 3: Address = 0x58a30 and Size = 0x10 or 16 bytes.  This means that the next
     chunk starts at 0x58a40.
<LI> Chunk 4: Address = 0x58a40 and Size = 0x18 or 24 bytes.  This means that the next
     chunk starts at 0x58a58.  Or not -- because there's not a valid size there, and the
     heap "ends" after 0x58a5c.  So this is the last chunk, and what we're printing are
     eight bytes that are on the same page, but have not been assigned to the process
     by the operating system yet.  This clues us into the
     answer to the last question.
</UL>

<UL>
<LI> <b>Question 5</b>: 4
<LI> <b>Question 6</b>: It will return 0x58a58.  If our page sizes are 4K, then 
the addresses up to 0x58fff will not seg fault, but they are not officially allocated to
our process yet.
</UL>
