<h3>Clicker Questions for Today</h3>

Here's the heap.
<b>Malloc()</b> and <b>free()</b> have been implemented as described in the last class. 
The head of the free list
is <tt>0x58a00</tt>.   (And if you don't remember, the definition of the free list structs
are):

<pre>
struct flist {
  int size;
  struct flist *flink;
  struct flist *blink;
};
</pre>

<p><center><table border=3 cellpadding=3><td><pre>
     Address  Value     
     -------  -------     
     0x589a0  0x00010     
     0x589a4  0x589d0     
     0x589a8  0x58a00     
     0x589ac  0x00018     
     0x589b0  0x00020     
     0x589b4  0x00018     
     0x589b8  0x589e0     
     0x589bc  0x58a08     
     0x589c0  0x58a44     
     0x589c4  0x589cc     
     0x589c8  0x00010     
     0x589cc  0x589ec     
     0x589d0  0x00018     
     0x589d4  0x00000     
     0x589d8  0x589a0     
     0x589dc  0x589e0     
</pre></td><td><pre>
     Address  Value     
     -------  -------     
     0x589e0  0x58a3c     
     0x589e4  0x00018     
     0x589e8  0x00018     
     0x589ec  0x589c0     
     0x589f0  0x58a1c     
     0x589f4  0x00020     
     0x589f8  0x58a30     
     0x589fc  0x58a08     
     0x58a00  0x00030     
     0x58a04  0x589a0     
     0x58a08  0x00000     
     0x58a0c  0x58a1c     
     0x58a10  0x58a24     
     0x58a14  0x58a1c     
     0x58a18  0x58a00     
     0x58a1c  0x589cc     
</pre></td><td><pre>
     Address  Value     
     -------  -------     
     0x58a20  0x58a20     
     0x58a24  0x00030     
     0x58a28  0x00018     
     0x58a2c  0x58a3c     
     0x58a30  0x00010     
     0x58a34  0x589a0     
     0x58a38  0x589c8     
     0x58a3c  0x00020     
     0x58a40  0x00018     
     0x58a44  0x589c0     
     0x58a48  0x58a18     
     0x58a4c  0x00010     
     0x58a50  0x00008     
     0x58a54  0x589a0     
     0x58a58  0x589a0     
     0x58a5c  0x58a24     
</pre></td></table></center><p>     

Please answer the following questions:
<p>
By the way -- to help you, I also have the memory in 
<a href=click-mem.html>this link</a>, which will make it easier for you
to copy/paste into your text editor.

<hr><h3>Question 1</h3>

How many bytes are in the first node (or memory chunk) on the free list?

<hr><h3>Question 2</h3>

What is the memory address of the second node on the free list?

<hr><h3>Question 3</h3>

How many bytes are in the second node (or memory chunk) on the free list?

<hr><h3>Question 4</h3>

How many nodes are there on the free list?

<hr><h3>Question 5</h3>

How many allocated chunks are there (memory chunks that have been malloc'd, but not
freed)?

<hr><h3>Question 6</h3>

If I call <b>sbrk(0)</b>, what will it return? (It is not 0x58a60)?
