<h2>Answers to today's clicker questions</h2>

<h3>Question 1</h3>

2<sup>10</sup> = 1024.

<hr>
<h3>Question 2</h3>

Let's describe what's going on:

<UL>
<LI> The parent sets up two pipes.
<LI> The parent creates a child.
<LI> In the parent, <i>in</i> comes from one pipe and <i>out</i>
     goes to the other.
<LI> Same with the child, so that the child writes to the pipe that the
     parent is reading, and vice versa.
<LI> Each of them writes 10 integers to the pipe.  The <b>fflush()</b>
     call makes sure that the <b>write()</b> calls are made.  Since the
     OS's pipe buffers are on the order of 4K or 8K, the <b>write()</b>
     calls put the bytes into those buffers, and the <b>fflush()</b> 
     calls all return.
<LI> Each of them reads an integer from the pipe and writes it to 
     standard output.
</UL>

So, at the end of this program, each process will have written 10
lines to standard output.  The answer is 20.

<hr>
<h3>Question 3</h3>

When we call <b>fflush()</b>, we're forcing a <b>write()</b>
call.  So there are 20 <b>write()</b> calls.

<hr>
<h3>Question 4</h3>

Reading is different -- the stdio library will try to read whatever's
in the pipe buffer on its first read call.  So, suppose that when the
parent calls <b>fscanf()</b>, the child has written everything to
the pipe.  Then there will only be one <b>read()</b> call.  Suppose
instead that when the parent calls <b>fscanf()</b>, the child is only
through half of the first <b>for()</b> loop.  Then there will be at
least two <b>read()</b> calls.  So the answer is -1 -- we don't know.

<hr>
<h3>Question 5</h3>

Since the parent doesn't call <b>wait()</b>, the parent can easily
exit before the child is done with its second loop.  In that case,
you'll get the prompt and then get some output: True.
