<h2>Today's clicker questions</h2>

<h3>Question 1</h3>

Behold the following program, in 
<b><a href=src/click1.c>src/click1.c</a></b>.

<p><center><table border=3 cellpadding=3><td><pre>
<font color=blue>/* Will 100% of the class get this question right? */</font>

#include &lt;stdio.h&gt;
#include &lt;stdlib.h&gt;
#include &lt;unistd.h&gt;

int main()
{
  int i;

  for (i = 0; i &lt; 10; i++) fork();
  printf("Hi\n");
  return 0;
}
</pre></td></table></center><p>

How many lines will this program print?


<hr>
<h3>Question 2</h3>

Behold the following program, in
<b><a href=src/click2.c>src/click2.c</a></b>.

<p><center><table border=3 cellpadding=3><td valign=top><pre>
#include &lt;stdio.h&gt;
#include &lt;stdlib.h&gt;
#include &lt;unistd.h&gt;

int main()
{
  int p1[2], p2[2];
  int in, out;
  FILE *fin, *fout;
  int i, j;

  pipe(p1);
  pipe(p2);

  if (fork() == 0) {
    in = dup(p1[0]);
    out = dup(p2[1]);
  } else {
    in = dup(p2[0]);
    out = dup(p1[1]);
  }
</pre></td><td valign=top><pre>
  close(p1[0]); 
  close(p1[1]); 
  close(p2[0]); 
  close(p2[1]); 
  
  fin = fdopen(in, "r");
  fout = fdopen(out, "w");
    
  for (i = 0; i &lt; 10; i++) {
    fprintf(fout, "%d\n", i);
    fflush(fout);
  }

  for (i = 0; i &lt; 10; i++) {
    if (fscanf(fin, "%d", &j) == EOF) return 0;
    printf("j: %d\n", j);
    fflush(stdout);
  }

  return 0;
}
</pre></td></table></center><p>

How many lines does this program print?  If you think the program never exits, enter -1.

<hr>
<h3>Question 3</h3>

In the program above, how many <b>write()</b> system calls does the parent process make?
If you think that the answer is "it depends", enter -1.

<hr>
<h3>Question 4</h3>

In the program above, How many <b>read()</b> system calls does the parent process make?
If you think that the answer is "it depends", enter -1.
<hr>
<h3>Question 5</h3>

Is it possible that you'll see the 'UNIX>' prompt before all of the output of this
program is printed?

