<h2>Clicker Questions for Today</h2>

Each of these program prints a statement.  Answer whether or not the statement is true.

<hr><h3>Question 1</h3>

<p><table border=3 cellpadding=3><td><pre>
#include &lt;stdio.h&gt;
#include &lt;stdlib.h&gt;
#include &lt;unistd.h&gt;

int main()
{
  if (fork() == 0) {
    sleep(1);
    printf("I am an orphan process.\n");
  } else {
    sleep(2);
  }
  exit(0);
}
</pre></td></table></center><p>

<hr><h3>Question 2</h3>

<p><table border=3 cellpadding=3><td><pre>
#include &lt;stdio.h&gt;
#include &lt;stdlib.h&gt;
#include &lt;unistd.h&gt;
#include &lt;fcntl.h&gt;

int main()
{
  int i = 5;

  if (fork() != 0) {
    i += 5;
    sleep(2);
  } else {
    sleep(1);
    printf("In my process, i equals 5.");
  }
}
</pre></td></table></center><p>

<hr><h3>Question 3</h3>

<p><table border=3 cellpadding=3><td><pre>
#include &lt;stdio.h&gt;
#include &lt;stdlib.h&gt;
#include &lt;unistd.h&gt;
#include &lt;fcntl.h&gt;

int main()
{
  int fd;

  fd = open("f1.txt", O_WRONLY | O_CREAT | O_TRUNC, 0666);
  dup2(fd, 1);
  close(fd);

  if (fork() != 0) {
    dup2(2, 1);
    sleep(3);
  } else {
    sleep(1);
    printf("This line will not be printed on the screen.");
  }
}
</td></table><p>

<hr><h3>Question 4</h3>

<p><table border=3 cellpadding=3><td><pre>
#include &lt;stdio.h&gt;
#include &lt;stdlib.h&gt;
#include &lt;unistd.h&gt;

int main()
{
  int p[2];

  pipe(p);
  if (fork() == 0) {
    dup2(p[0], 0);
    printf("This process will never terminate.\n");
    execlp("cat", "cat", NULL);
    exit(0);
  } else {
    dup2(p[1], 1);
    close(0);
    sleep(1);
    exit(0);
  }
}
</pre></td></table></center><p>

<hr><h3>Question 5</h3>

<p><table border=3 cellpadding=3><td><pre>
#include &lt;stdio.h&gt;
#include &lt;stdlib.h&gt;
#include &lt;unistd.h&gt;

int main()
{
  if (fork() == 0) {
    sleep(1);
    printf("I will be a zombie process.\n");
  } else {
    sleep(2);
  }
  exit(0);
}
</pre></td></table></center><p>

<hr><h3>Question 6</h3>

<p><table border=3 cellpadding=3><td><pre>
#include &lt;stdio.h&gt;
#include &lt;stdlib.h&gt;
#include &lt;string.h&gt;
#include &lt;unistd.h&gt;

int main()
{
  char *s = "ABCDEFGHIJKLMNOPQRSTUVWXYZ\n";
  int i;
  int p[2];

  pipe(p);
  close(p[0]);
  if (fork() == 0) {
    for (i = 2; i &lt; 20; i++) dup2(p[1], i);
    printf("I am about to generate SIGPIPE.\n");
    while (1) write(10, s, strlen(s));
  } 
}
</pre></td></table></center><p>
