<h2>Answer to Clicker Questions</h2>


<hr><h3>Question 1</h3>

False -- the process would be an orphan if its parent exited before it exited.  This is
the other way around.  The process is a zombie.

<hr><h3>Question 2</h3>
True.  The child's address space is copied from the parent, so when the parent changes <i>i</i>,
the child is unaffected.

<hr><h3>Question 3</h3>


True -- in the child, stdout is going to <b>f1.txt</b>.  The <b>dup2(2,1)</b> call in the
parent does not affect the child.

<hr><h3>Question 4</h3>

True -- the write end of the pipe is not closed in either process, so the <b>cat</b>
process will never read EOF.

<hr><h3>Question 5</h3>

True -- see question 1.

<hr><h3>Question 6</h3>

True -- the <b>write(10)</b> calls will write to the write end of the pipe, and there is
no read end.  It may not happen on the first <b>write()</b> call, but it will happen 
on one of them.
