<h3>Answers to Today's Clicker Questions</h3>

<hr>
<h3>Question 1</h3>

<b>f1.txt</b> is one line, so <b>cat</b> will read it, and then attempt to
read a second line.  At that point, it will get EOF and exit: <i>A</i>

<hr>
<h3>Question 2</h3>

Similarly, <b>head</b> reads one line from the pipe, and then gets EOF: <i>A</i>.

<hr>
<h3>Question 3</h3>

This one is more confusing, so skip to question 5 and come back.
<p>
OK, now that you're back, <b>f2.txt</b> is 15 lines and 211 bytes.  When 
<b>cat</b> does its first <b>fgets()</b> call, the stdio library will read the 
entire file into its buffer.  Similarly, when it does all 15 <b>fputs()</b> calls,
they will all go into the <b>stdout</b> buffer.  And when the program exits and
flushes the buffer, all of the bytes will go into the pipe buffer in the operating
system.  So, the answer is <i>A</i>.  Even though we'd like for <b>SIGPIPE</b> to
be generated, because <b>f2.txt</b> is 15 lines rather than 10, it is very unlikely,
and instead, the <b>cat</b> program will exit normally.
<p>
I'd give full credit for both <i>A</i> and <i>C</i>.  Although <i>A</i> is indeed the
correct answer, <i>C</i> makes sense, and I won't punish you for it.

<hr>
<h3>Question 4</h3>

<b>head</b> will make 10 <b>fgets()</b> calls and then exit: <i>D</i>.

<hr>
<h3>Question 5</h3>

<b>f3.txt</b> is 10,000 lines and 159,617 bytes.  <b>cat</b> will read 
a few buffer's worth, and then it will block, because its <b>fputs()</b> calls
will fill the <b>stdout</b> buffer, which will get flushed and fill the operating
system's pipe buffer.  The <b>head</b> process will exit after reading 10 lines, and
that will cause the <b>cat</b> process to get the SIGPIPE signal from the operating
system: <i>C</i>.

<hr>
<h3>Question 6</h3>

As in Question 4, the <b>head</b> process calls <b>fgets()</b> 10 times and then
exits: <i>D</i>
