<h3>Today's Clicker Questions</h3>

For these questions, please use the following answer key:

<UL>
<LI> <i>A.</i> It reads EOF from stdin and then calls <b>exit(0)</b>.
<LI> <i>B.</i> It calls <b>exit(1)</b>.
<LI> <i>C.</i> It exits because of the signal SIGPIPE.
<LI> <i>D.</i> It calls <b>exit(0)</b>, but doesn't read EOF first.
</UL>

In these questions, we run the following Unix commands and get the following results.

<pre>
UNIX> <font color=darkred><b>wc f1.txt</b></font>
       1       2      10 f1.txt
UNIX> <font color=darkred><b>wc f2.txt</b></font>
      15      29     211 f2.txt
UNIX> <font color=darkred><b>wc f3.txt</b></font>
   10000   21541  159617 f3.txt
UNIX> <font color=darkred><b></b></font>
</pre>

<hr>
<h3>Question 1</h3>

In the following command, how does the <b>cat</b> process exit?

<pre>
UNIX> <font color=darkred><b>cat f1.txt | head -n 10</b></font>
</pre>

<hr>
<h3>Question 2</h3>

In the following command, how does the <b>head</b> process exit?

<pre>
UNIX> <font color=darkred><b>cat f1.txt | head -n 10</b></font>
</pre>

<hr>
<h3>Question 3</h3>

In the following command, how does the <b>cat</b> process exit?

<pre>
UNIX> <font color=darkred><b>cat f2.txt | head -n 10</b></font>
</pre>

<hr>
<h3>Question 4</h3>

In the following command, how does the <b>head</b> process exit?

<pre>
UNIX> <font color=darkred><b>cat f2.txt | head -n 10</b></font>
</pre>

<hr>
<h3>Question 5</h3>

In the following command, how does the <b>cat</b> process exit?

<pre>
UNIX> <font color=darkred><b>cat f3.txt | head -n 10</b></font>
</pre>

<hr>
<h3>Question 6</h3>

In the following command, how does the <b>head</b> process exit?

<pre>
UNIX> <font color=darkred><b>cat f3.txt | head -n 10</b></font>
</pre>

