<center>
<h3>Answer to Clicker Question for today (set two from Dining Philosophers)</h3>
</center>
  
For reference material, please see the "Walk Throughs" from the <a href=lecture.html>Dining Philosopher's 
lecture notes</a>.

<hr>
<h3>Question 1</h3>

You don't need to look any further than the first picture:

<UL>
<LI> Philosophers 0 and 7 are holding one chopstick and waiting for the other.  So this
can only be "Right-Left" or "Even-Odd".
<LI> Philosopher 0 is holding the right chopstick.  That doesn't give us any informatio.
<LI> However, philosopher 7 is holding the left chopstick.  In the picture, it kinda looks
like the philosopher is holding the right one, but you can see that the right one belongs
to philosopher 6, so philosopher 7 is holding the left chopstick.
This only happens in "Even-Odd", so the answer is <b><i>B</i></b>.
</UL>
<p>

<hr>
<h3>Question 2</h3>

The key here is to look at philosopher 7.  In the left picture, the philosopher is thinking.
In the right picture, the philosopher is hungry, even though both chopsticks are available.
That can only happen in the "Global Queue" implementation -- since philosopher 1 is hungry
in the left picture, philosopher 7 will have to wait until philosopher 1 to get the chopsticks
before philosopher 7 can unblock.
<p>
The answer is <b><i>D</i></b>.

<hr>
<h3>Question 3</h3>

Look at philosopher 7 -- hungry in the first picture and eating in the second picture.
So, this can't be the "Global Queue" implementation.
<p>
Now look at philosopher 0, who becomes hungry in the second picture, even though the chopsticks
are available.  The philosopher is waiting because an adjacent philosopher is hungry.  This
can only happen in the "take a number" implementation.
<p>
The answer is <b><i>E</i></b>.

<hr>
<h3>Question 4</h3>

This can't be the last three implementations, because they prohibit holding-and-waiting,
which is what philosophers 0, 5 and 6 are doing in the right picture.
<p>
All three of them are holding onto their right chopsticks.  So, this has to be "right-left."
The answer is <b><i>A</i></b>.

<hr>
<h3>Question 5</h3>

A lot of negative inferences here.

<UL>
<LI> Philosopher 4 is hungry, the right chopstick is availabe, but the philosopher has not
picked it up.  That rules out "right-left" and "left-right".
<LI> Philosopher 3 becomes hungry, and picks up both chopsticks, even though both adjacent
philosophers are hungry.  That rules out "global-queue" and "take-a-number."  This has to
be "hold-and-wait": The answer is <b><i>C</i></b>.

