<h3>Clicker Questions for today</h3>

In each of these five questions, I'm going to show you two consecutive 
timesteps of the dining philosophers problem in a table with nine philosophers.
Philosopher 0 is at the top center, and the remaining philosophers are numbered
clockwise.  In each question, the two timesteps can only be produced by one of
the synchronization algorithms listed in the multiple choice answers.  Please choose
the that that can produce the timesteps.
<p>
In each problem, the answers are:
<UL>
<LI> A. Every philosopher tries to pick up the right chopstick, and then the left chopstick.
<LI> B. Even philosophers go right-left and odd philosphers go left-right.
<LI> C. A philosopher can't pick up any chopsticks unless both are available.
<LI> D. A philosopher can't pick up any chopsticks unless both are available and no other philosopher is hungry.
<LI> E. A philosopher can't pick up any chopsticks unless both are available and neither neighbor is hungry.
</UL>

<hr> <h3>Question 1</h3> <p><center><table border=3> <td align=center valign=top><a href=img/test-2A.jpg><img src=img/test-2A.jpg width=300></a></td> <td align=center valign=top><a href=img/test-2B.jpg><img src=img/test-2B.jpg width=300></a></td> </table></center><p>
<hr> <h3>Question 2</h3> <p><center><table border=3> <td align=center valign=top><a href=img/test-4A.jpg><img src=img/test-4A.jpg width=300></a></td> <td align=center valign=top><a href=img/test-4B.jpg><img src=img/test-4B.jpg width=300></a></td> </table></center><p>
<hr> <h3>Question 3</h3> <p><center><table border=3> <td align=center valign=top><a href=img/test-5A.jpg><img src=img/test-5A.jpg width=300></a></td> <td align=center valign=top><a href=img/test-5B.jpg><img src=img/test-5B.jpg width=300></a></td> </table></center><p>
<hr> <h3>Question 4</h3> <p><center><table border=3> <td align=center valign=top><a href=img/test-1A.jpg><img src=img/test-1A.jpg width=300></a></td> <td align=center valign=top><a href=img/test-1B.jpg><img src=img/test-1B.jpg width=300></a></td> </table></center><p>
<hr> <h3>Question 5</h3> <p><center><table border=3> <td align=center valign=top><a href=img/test-3A.jpg><img src=img/test-3A.jpg width=300></a></td> <td align=center valign=top><a href=img/test-3B.jpg><img src=img/test-3B.jpg width=300></a></td> </table></center><p>
