<center>
<h3>Clicker Questions for today</h3>
</center>
  
I'm going to give you at least ten minutes for this one, because it takes time to read.
This question came from the 2014 final exam for this class (in 2014, Dr. Birdwell taught
CS402).
<p>
You are taking CS402, and your design team consists of you, Larry, Moe and Curly.  Professor
Birdwell has made you all sign non-disclosure agreements, but for the life of you, you don't know
why Larry, Moe or Curly would want to disclose their disastrous programming skills to anyone!
Whatever, you have taken the design lead, and you have decided that the four of you will each write
your own C programs:
<UL>
<LI> Moe's will be compiled into the executable <b>moe</b>;
<LI> Larry's will be compiled into the executable <b>larry</b>, and
<LI> Curly's will be compiled into the executable <b>curly</b>.
<LI> None of the executables (not even yours) will have command line arguments, and none of them will be multi-threaded.
</UL>
<p>
Your program (named <b>shemp.c</b>, of course), is going to be the master program.  It is going
to create processes so that when the system runs, it is going to look as follows:

<p><center><table border=3><td><img src=img/Q2.jpg width=300></td></table></center><p>

As you can see:
<UL>
<LI> The shemp program will fork a child.  We'll call the two processes,
"shemp parent" and "shemp child." They are going to share code.
<LI> Moe's standard output goes to Larry's standard input.
<LI> Larry's standard output goes to Curly's standard input.
<LI> Curly's standard output goes to Moe's standard input.
<LI> Moe, Larry and Curly's standard error will all go to the standard input of "shemp parent."
Shemp parent is going to repeatedly read its standard input, 
process it a bit and write to standard output.
<LI> Moe, Larry and Curly will all be children of "shemp child."
</UL>

You may wonder why we're splitting <b>shemp</b> into a parent and a
child?  The reason is as follows.  Larry, Moe and Curly can't be
trusted.  Their processes are supposed to talk to each other forever,
but in reality, they may seg fault or go into infinite loops.  The
child is there to detect when any of them die.  When that happens, it
is going to kill the others and then exit.  When the others are dead,
the parent will be able to detect it.  It will then print "NFS not
responding, still trying" and go into an infinite loop.  That way,
when you demo your project, professor Birdwell will hopefully be
suckered into thinking that we have network problems, and he won't
realize that disaster has occurred.
<p>
Fun as it would be, I'm not making you write <b>shemp.c</b>.  However, I'm sure you would write it 
flawlessly, using only the system calls <b>fork()</b>, <b>execlp()</b>, <b>close()</b>, 
<b>wait()</b>, <b>pipe()</b>,
<b>dup2()</b> and <b>kill()</b>.  
<p>
Now, answer the following questions (on the exam, these had "Why?" as well, but for the 
clicker, we're just answering.
<UL>
<LI> <b>Question 1</b>: How many times is "shemp-parent" going to call <b>fork()</b>?  
<LI> <b>Question 2</b>: How many times is "shemp-child" going to call <b>fork()</b>?  
<LI> <b>Question 3</b>: How many times is "shemp-parent" going to call <b>execlp()</b>?  
<LI> <b>Question 4</b>: How many times in total is <b>execlp()</b> called by any of the processes?
<LI> <b>Question 5</b>: "Shemp-Child" is going to call <b>pipe()</b> three times.  How many times
is "shemp-parent" going to call <b>pipe()</b>?  
<LI> <b>Question 6</b>: How many times is the <b>larry</b> process going to call <b>dup2()</b>?  
<LI> <b>Question 7</b>: During the demo, disaster indeed occurs.  <b>Larry</b> goes into an infinite loop and stops reading and writing.  <b>Curly</b> doesn't bother
reading from standard input, and instead goes into an infinite loop writing to standard output.
And <b>moe</b> seg faults.  How does "shemp child" detect that <b>moe</b> has died on a seg fault?

<LI> <b>Question 8</b>: After detecting that <b>moe</b> has died, "shemp child" kills <b>larry</b>
and tries to kill <b>curly</b>, but <b>curly</b> is already dead.  Why?
<LI> <b>Question 9</b>: How does "shemp-parent" detect that <b>larry</b>, <b>moe</b> and <b>curly</b>
are dead?
<LI> <b>Question 10</b>: When "shemp-parent" goes into its infinite loop, you want to make sure that
there are no zombie processes.  How many times must it call <b>wait()</b> to do that?  
</UL>
