<center>
<h3>Clicker Questions for today</h3>
</center>
  
Let's review what's going to happen with the various processes:

<h4>Shemp Parent</h4>

<UL>
<LI> It will first call <b>pipe()</b> to set up a communication channel from stderr of
<b>moe/larry/curly</b> to its stdin.
<LI> It will then call <b>fork()</b> to create <b>shemp child.</b>.
<LI> It will <b>dup2()</b> the read end of the pipe onto its standard input.
<LI> It will close both ends of the pipe.
<LI> It will read from standard input and process the input.
<LI> Eventually, when 
<b>moe/larry/curly</b> exit, it will read EOF from standard input, because there is no longer
a write end of the pipe.
<LI> It will call <b>wait()</b> so that <b>shemp child</b> doesn't become a zombie.
<LI> It goes into its infinite loop.
</UL>

<h4>Shemp Child</h4>

<UL>
<LI> It will call <b>pipe()</b> three times so that 
<b>moe/larry/curly</b> may communicate with each other.
<LI> It will call <b>fork()</b> three times to create
the <b>moe/larry/curly</b> processes.
<LI> It will close all of the pipe file descriptors (there are 8 of these -- 4 pipes).
<LI> It will call <b>wait()</b> to wait for the first of
<b>moe/larry/curly</b> to exit.
<LI> Once that happens, it will call <b>kill()</b> to kill the other two processes.
<LI> It will <b>exit()</b>.
</UL>

<h4>moe/larry/curly</h4>

<UL>
<LI> These will do the proper <b>dup2</b> calls so that they are talking with each other
in the proper order, and so that stderr is going to the parent's pipe.  Each process will 
do three <b>dup2()</b> calls -- one each for stdin, stdout and stderr.
<LI> They will close all of the pipe file descriptors.
<LI> They will call <b>execlp()</b> to execute <b>moe/larry/curly</b>.
<LI> Once <b>moe/larry/curly</b> start running, they take over the process.  The 
    <b>execlp()</b> calls do not return.
</UL>

<h4>Onto the questions</h4>

Given all of that information, most questions don't need explanation.  Here are the answers:

<UL>
<LI><b>Question 1</b>: One.
<LI><b>Question 2</b>: Three.
<LI><b>Question 3</b>: Zero.
<LI><b>Question 4</b>: Three.
<LI><b>Question 5</b>: Three.
<LI><b>Question 6</b>: Three.
<LI><b>Question 7</b>: <b>wait()</b> returns with Moe's pid.
<LI><b>Question 8</b>: Since <b>moe</b> died, there is no read end for Curly's stdout.
Therefore, Curly generates SIGPIPE and exits.
<LI><b>Question 9</b>: It reads EOF from stdin.
<LI><b>Question 10</b>: Once.
</UL>


