<h3>Clicker Questions For the C-Strings Lecture</h3>

Given the following program:

<p><center><table border=3 cellpadding=3><td><pre>
#include &lt;stdio.h&gt;
#include &lt;stdlib.h&gt;
#include &lt;string.h&gt;

int main()
{
 char s[50];
 char *x, *y;

 strcpy(s, "ABCDEFGHIJKLMNOPQRSTUVWXYZ");
 x = s + 2;
 y = x + 5;

 strcpy(x, "01234567");
 printf("%s\n", s);
  
 strcat(y, "abcde");
 printf("%s\n", x);

 printf("%s\n", x+15);
}
</pre></td></table></center><p>

<UL>
<LI> <b>Question 1</b>: What is the first line of output of this program?
<LI> <b>Question 2</b>: What is the second line of output of this program?
<LI> <b>Question 3</b>: What is the third line of output of this program?
</UL>
