<h3>Answers to Clicker Questions For the C-Strings Lecture</h3>

Let's use ASCII art to look at s, x and y.  We'll use an asterisk to represent the
null character:

<p><center><table border=3 cellpadding=3><td><pre>
ABCDEFGHIJKLMNOPQRSTUVWXYZ*
^ ^     ^
| |     |
s x     y
</pre></td></table></center><p>

After the <b>strcpy()</b>, the bytes become:

<p><center><table border=3 cellpadding=3><td><pre>
AB01234567*LMNOPQRSTUVWXYZ*
^ ^     ^
| |     |
s x     y
</pre></td></table></center><p>

So the first line of output is: <tt>"AB01234567"</tt>.
<p>
Now, the <b>strcat()</b> finds the end of the string that starts with <tt>'6'</tt>, and
appends <tt>"abcde"</tt> to it:

<p><center><table border=3 cellpadding=3><td><pre>
AB01234567abcde*QRSTUVWXYZ*
^ ^     ^
| |     |
s x     y
</pre></td></table></center><p>

So the second line is the string that starts with <b>x</b>: <tt>"01234567abcde"</tt>.
<p>
We can count 15 characters from <b>x</b>:

<p><center><table border=3 cellpadding=3><td><pre>
AB01234567abcde*QRSTUVWXYZ*
^ ^     ^        ^
| |     |        |
s x     y       x+15
</pre></td></table></center><p>

The last line of output is the string starting with "R": <tt>"RSTUVWXYZ"</tt>.
