<h2>Today's clicker questions</h2>

<h3>Question 1</h3>

Behold the following program, in 
<b><a href=src/click1.c>src/click1.c</a></b>:

<p><center><table border=3 cellpadding=3><td><pre>
/* Will 100% of the class get this question right today? */

#include &lt;stdio.h&gt;
#include &lt;stdlib.h&gt;
#include &lt;unistd.h&gt;

int main()
{
  int i;

  for (i = 0; i &lt; 5; i++) fork();
  printf("Hi\n");
  return 0;
}
</pre></td></table></center><p>

How many lines does this program print?
<hr>
<h3>Question 2</h3>
Behold the following program, in
<b><a href=src/click2.c>src/click2.c</a></b>:

<p><center><table border=3 cellpadding=3><td><pre>
#include &lt;stdio.h&gt;
#include &lt;stdlib.h&gt;
#include &lt;unistd.h&gt;

int main()
{
  int i, c;
  int status;

  c = fork();
  if (c != 0) {
    sleep(15);
    return 0;
  }

  sleep(1);

  for (i = 0; i &lt; 5; i++) {
    c = fork();
    if (c == 0) sleep(1); 
  }

  return 0;
}
</pre></td></table></center><p>

Including the initial process, how many processes will be created by this program?

<hr>
<h3>Question 3</h3>

How many processes, at some point in this program, will be zombies?

<hr>
<h3>Question 4</h3>

How many processes, at some point in this program, will be orphans?

