<h3>Clicker Questions</h3>

In these questions, your machine is little endian.  Here are the prototypes of C procedures:

<p><center><table border=3 cellpadding=3><td><pre>
char *strcpy(char *dest, const char *src);
char *strcat(char *dest, const char *src);
char *memcpy(void *dest, const void *src, int bytes);
size_t strlen(char *s);
</pre></td></table></center><p>

<hr>
<b>Question 1:</b> If you are lucky enough to have a segmentation violation on this code, which line
  will cause the segmentation violation?

<p><center><table border=3 cellpadding=3><td><pre>
/* Line  1 */  int main()
/* Line  2 */  {
/* Line  3 */    char s[100];
/* Line  4 */    int *vec;
/* Line  5 */    void *v[100];
/* Line  6 */    void *x[100];
/* Line  7 */    int i;
/* Line  8 */  
/* Line  9 */    strcpy(s, "");
/* Line 10 */    for (i = 0; i &lt; 50; i++) {
/* Line 11 */      strcat(s, "j");
/* Line 12 */      vec[i] = i;
/* Line 13 */      v[i] = (void *) i;
/* Line 14 */      x[i] = (void *) &i;
/* Line 15 */    }
/* Line 16 */    return 0;
/* Line 17 */  }
</pre></td></table></center><p>

<hr>
<b>Question 2:</b> What is the output of this program?

<p><center><table border=3 cellpadding=3><td><pre>
#include &lt;stdio.h&gt;
#include &lt;string.h&gt;
#include &lt;unistd.h&gt;

int main()
{
  char b[30];
  int i;

  strcpy(b, "ABCDEFGHIJKLMNOPRSTUVWXYZ");
  i = ('C' &lt;&lt; 16) | ('D' &lt;&lt; 8) | 'E';
  memcpy(b+2, &i, 4);
  printf("%d\n", (int) strlen(b));
  return 0;
}
</pre></td></table></center><p>

<hr>
<b>Question 3:</b> 

I have compiled the following program into <b>bin/click3</b>:

<p><center><table border=3 cellpadding=3><td><pre>
#include &lt;stdio.h&gt;
#include &lt;string.h&gt;
#include &lt;stdlib.h&gt;
#include "fields.h"
#include "jrb.h"

int compare(Jval v1, Jval v2)
{
  return strcmp(v1.s+1, v2.s+1);
}

int main()
{
  IS is;
  JRB t;

  is = new_inputstruct(NULL);
  t = make_jrb();
 
  while (get_line(is) &gt; 0) {
    jrb_insert_gen(t, new_jval_s(strdup(is-&gt;text1)), new_jval_i(0), compare);
  }

  printf("%s", t-&gt;blink-&gt;key.s);
  return 0;
}
</pre></td></table></center><p>

The file 
<b><a href=txt/input.txt>txt/input.txt</a></b> is as follows:

<p><center><table border=3 cellpadding=3><td><pre>
Charlotte
Aiden
Aubrey
Ryan
Ella
Lily
Peyton
Brody
Caleb
Henry
</pre></td></table></center><p>

What is the output of the following command?

<pre>
UNIX> <font color=darkred><b>bin/click3 < txt/input.txt</b></font>
</pre>
