<h3>Answers to the clicker questions</h3>

<b>Question 1</b>: Line 11 -- <b>vec</b> is an uninitialized variable.  This is one of the
reasons I urge you to set your pointers to NULL at the beginning of your procedures.  That
will help you find bugs like this, because you're guaranteed to generate a seg fault.
<p>
<hr>
<b>Question 2</b>: Since your machine is little endian, the four bytes of <b>i</b> are
going to be 'E', 'D', 'C' and 0, in that order.  It's a three-character string "EDC".
That means that after the <b>memcpy()</b>, <b>b</b> becomes "ABEDC*GHI....", where the
asterisk is the null character.  The answer is five.
<p>
<hr>
<b>Question 3</b>: The comparison function treats its <b>jval's</b> as strings, and then
sorts them by their second characters.  Therefore, the tree will have its keys in the
following order:


<p><center><table border=3 cellpadding=3><td><pre>
Caleb
Henry
Peyton
Charlotte
Aiden
Lily
Ella
Brody
Aubrey
Ryan
</pre></td></table></center><p>

The <b>printf()</b> prints the last key in the tree: The answer is <tt>"Ryan"</tt>.
