<h3>Clicker Question</h3>

Here is the state of addresses <tt>0x7fa586401790</tt> through
<tt>0x7fa58640182f</tt>.  Our machine is little endian with 8 byte pointers:

<p><center><table border=3 cellpadding=3><td><pre>
        Address        Value         
    -------------- --------------    
    0x7fa586401790 0x7fa5864017c8    
    0x7fa586401798 0x7fa5864017d8    
    0x7fa5864017a0 0x7fa5864017c0    
    0x7fa5864017a8 0x7fa586401810    
    0x7fa5864017b0 0x7fa586401790    
    0x7fa5864017b8 0x7fa5864017e0    
    0x7fa5864017c0 0x7fa586401828    
    0x7fa5864017c8 0x7fa5864017c0    
    0x7fa5864017d0 0x7fa5864017c0    
    0x7fa5864017d8 0x7fa5864017f8    
    0x7fa5864017e0 0x7fa5864017a8    
    0x7fa5864017e8 0x7fa5864017b0    
    0x7fa5864017f0 0x7fa586401800    
    0x7fa5864017f8 0x7fa5864017d0    
    0x7fa586401800 0x7fa5864017d0    
    0x7fa586401808 0x7fa586401800    
    0x7fa586401810 0x7fa5864017a0    
    0x7fa586401818 0x7fa5864017d0    
    0x7fa586401820 0x7fa586401810    
    0x7fa586401828 0x7fa5864017f8    
</pre></td></table></center><p>

Here is a procedure, <b>pm()</b>:

<p><center><table border=3 cellpadding=3><td><pre>
void pm(unsigned long *p)
{
  unsigned long **q;
  unsigned long ***r;
  unsigned long  ****s;

  q = (unsigned long **) p;
  r = (unsigned long ***) p;
  s = (unsigned long ****) p;

  printf("0x%02lx\n", (*p) & 0xff);                     <font color=blue>/* Line 1 of output. */</font>
  printf("0x%02lx\n", (**q) & 0xff);                    <font color=blue>/* Line 2 of output. */</font>
  printf("0x%02lx\n", (***r) & 0xff);                   <font color=blue>/* Line 3 of output. */</font>
  printf("0x%02lx\n", (****s) & 0xff);                  <font color=blue>/* Line 4 of output. */</font>

  printf("0x%02lx\n", (p[1]) & 0xff);                   <font color=blue>/* Line 5 of output. */</font>
  printf("0x%02lx\n", (q[1][1]) & 0xff);                <font color=blue>/* Line 6 of output. */</font>
  printf("0x%02lx\n", (r[1][1][1]) & 0xff);             <font color=blue>/* Line 7 of output. */</font>
  printf("0x%02lx\n", (s[1][1][1][1]) & 0xff);          <font color=blue>/* Line 8 of output. */</font>
}
</pre></td></table></center><p>

Suppose <b>pm()</b> is called with <b>p</b> equal to <tt>0x7fa586401790</tt>:

<UL>
<LI> <b>Question 1</b>: What is the first line of output?
<LI> <b>Question 2</b>: What is the second line of output?
<LI> <b>Question 3</b>: What is the third line of output?
<LI> <b>Question 4</b>: What is the fourth line of output?
<LI> <b>Question 5</b>: What is the fifth line of output?
<LI> <b>Question 6</b>: What is the sixth line of output?
<LI> <b>Question 7</b>: What is the seventh line of output?
<LI> <b>Question 8</b>: What is the eighth line of output?
</UL>
