<h3>Answer to Clicker Questions</h3>

Fortunately, the answers to lines 1-4 and lines 5-8 build on each other.

<pre>
   p is 0x7fa586401790, so    *p is the value at that address: 0x7fa5864017c8.  The answer is 0xc8.
  *q is 0x7fa5864017c8, so   **q is the value at that address: 0x7fa5864017c0.  The answer is 0xc0.
 **r is 0x7fa5864017c0, so  ***r is the value at that address: 0x7fa586401828.  The answer is 0x28.
***s is 0x7fa586401828, so ****s is the value at that address: 0x7fa5864017f8.  The answer is 0xf8.

          p+1 is 0x7fa586401798, so p[1] is the value at that address:            0x7fa5864017d8.  The answer is 0xd8.
         q[1] is 0x7fa5864017d8, so q[1][1] is the value at       0x7fa5864017e0: 0x7fa5864017a8.  The answer is 0xa8.
      r[1][1] is 0x7fa5864017a8, so r[1][1][1] is the value at    0x7fa5864017b0: 0x7fa586401790.  The answer is 0x90.
   s[1][1][1] is 0x7fa586401790, so s[1][1][1][1] is the value at 0x7fa586401798: 0x7fa5864017d8.  The answer is 0xd8.
</pre>
