<title>CS360 Lecture notes -- Prsize: recursive directory traversal</title>
<h1>CS360 Lecture notes -- Prsize: recursive directory traversal</h1>
<UL>
<LI><a href=http://web.eecs.utk.edu/~jplank>James S. Plank</a>
<LI>Directory: <b>/home/jplank/cs360/notes/Prsize</b>
<LI>Lecture notes:
    <a href=http://web.eecs.utk.edu/~jplank/plank/classes/cs360/360/notes/Prsize/lecture.html>
    <b>
  http://web.eecs.utk.edu/~jplank/plank/classes/cs360/360/notes/Prsize/lecture.html
</b></a>
<LI> Original lecture notes: Mid 1990's.
<LI> Latest revision:
Thu Feb 18 14:03:51 EST 2021
</UL>
<hr>
To "follow along" with these lecture notes, if you are on the lab
machines, simply do:

<pre>
UNIX> <font color=darkred><b>cd /home/jplank/cs360/notes/Prsize/test1</b></font>
</pre>

If you are on your own machine, then follow these instructions:
<p>
Pull the repo, and cd to the <tt>Prsize</tt> directory.  (You may need
to go to the <b>../Libfdr</b> directory and type <b>make</b> first.).
<p>

Next, untar the test directories.  This is because bitbucket doesn't
do a good job of preserving soft links and directory protections:
<pre>
UNIX> <font color=darkred><b>tar xpfv test-directories.tar</b></font>
test1/
test1/d1/
test1/d1/f3
test1/d1/file_with_a_longer_filename.txt
test1/f1
test1/f2
test2/
test2/f4-soft
.....
UNIX>
</pre>

Finally:

<pre>
UNIX> <font color=darkred><b>cd test1</font></b>
</pre>

Now, you're set up.

<hr>
<h3>Starting out: Calculating the size of all files in the current directory</h3>

This lecture covers the writing of a command <b>prsize</b>.  What
<b>prsize</b> does is return the number of bytes taken up by all files
reachable from the current directory (excluding soft links).  It is a
good program as it illustrates using <b>opendir/readdir/closedir</b>,
<b>stat</b>, recursion, building path names, and finding hard links.<p>

<p>
First, I wrote 
<b><a href=src/prsize1.c>src/prsize1.c</a></b>.
This prints the total size of all files in
the current directory.  It is a simple use of <tt>stat</tt> and 
<tt>opendir/readdir/closedir</tt>:

<p><center><table border=3 cellpadding=3><td><pre>
<font color=blue>/* This program prints the size of all files in the current directory. */</font>

#include &lt;stdio.h&gt;
#include &lt;stdlib.h&gt;
#include &lt;dirent.h&gt;
#include &lt;sys/stat.h&gt;

int main()
{
  DIR *d;                   <font color=blue>/* Return value of opendir(). */</font>
  struct dirent *de;        <font color=blue>/* Return value of each readdir() call. */</font>
  struct stat buf;          <font color=blue>/* The information about each file returned by stat() */</font>
  int exists;               <font color=blue>/* Return value of stat on each file. */</font>
  long total_size;          <font color=blue>/* The total size of all files. */</font>

  d = opendir(".");         <font color=blue>/* Open "." to list all the files. */</font>
  if (d == NULL) {
    perror(".");
    exit(1);
  }
 
  total_size = 0;

  <font color=blue>/* Run through the directory and run stat() on each file, 
     keeping track of the total size of all of the files.  */</font>

  for (de = readdir(d); de != NULL; de = readdir(d)) {
    exists = stat(de-&gt;d_name, &buf);
    if (exists &lt; 0) {
      fprintf(stderr, "Couldn't stat %s\n", de-&gt;d_name);
    } else {
      total_size += buf.st_size;
    }
  }

  <font color=blue>/* Although the closedir call isn't necessary, it will be later... */</font>

  closedir(d);
  printf("%ld\n", total_size);
  return 0;
}
</pre></td></table></center><p>




Test it out on your current directory (which is <tt>test1</tt>):

<pre>
UNIX> <font color=darkred><b>pwd</b></font>
/home/jplank/cs360/notes/Prsize/test1
UNIX> <font color=darkred><b>../bin/prsize1</b></font>
357
UNIX> <font color=darkred><b></b></font>
</pre>


You may get a different value (e.g. on my home machine, I got 12314), but
if you do a long listing of all files, your value should equal the sum of
all of the file sizes.  For example:


<pre>
UNIX> <font color=darkred><b>ls -la</b></font>
total 8
drwxr-xr-x. 3 jplank jplank  36 Feb 11  2018 .
drwxr-xr-x. 9 jplank jplank 240 Feb 18 14:31 ..
drwxr-xr-x. 2 jplank jplank  55 Sep 23  1994 d1
-rw-r--r--. 1 jplank jplank  11 Sep 23  1994 f1
-rw-r--r--. 1 jplank jplank  15 Sep 23  1994 f2
UNIX> <font color=darkred><b>echo 36 + 240 + 55 + 11 + 15 | bc</b></font>
357
UNIX> <font color=darkred><b></b></font>
</pre>

<hr>
<h3> Making the program recursive to go through subdirectories</h3>
Now, the next step we'd like to take is
to get the program to sum up the sizes of all files
<i>reachable</i> from the current directory.  To do this, we
need to make the program recursive.  Instead of putting all
our code in the <b>main()</b> routine, we'll instead bundle it
into a function, and call that function.  
<b><a href=src/prsize2.c>src/prsize2.c</a></b>
does this.  It provides the same functionality as <b>src/prsize1.c</b>,
except that it makes a call to <b>get_size()</b> to find the size.
There's no real reason to put the program here -- just click on the
link if you want to see it.
<p>
Note there is no recursion yet -- that is for <b>src/prsize3.c</b>.
If you test <b>bin/prsize2</b>, you'll see that it does the same thing
as <b>bin/prsize1</b>. 

<pre>
UNIX> <font color=darkred><b>../bin/prsize2</b></font>
357
UNIX> <font color=darkred><b></b></font>
</pre>

Now, we want to make <b>bin/prsize2</b> recursive.  Whenever we encounter a
directory, we want to find out the size of everything in that
directory, so we will call <b>get_size()</b> recursively on that directory.
This is done in 
<b><a href=src/prsize3.c>src/prsize3.c</a></b>
Here is the relevant code in <b>get_line()</b>

<p><center><table border=3 cellpadding=3><td><pre>
  <font color=blue>/* Run through the directory and run stat() on each file, 
     keeping track of the total size of all of the files.  */</font>

  for (de = readdir(d); de != NULL; de = readdir(d)) {
    exists = stat(de-&gt;d_name, &buf);
    if (exists &lt; 0) {
      fprintf(stderr, "Couldn't stat %s\n", de-&gt;d_name);
      exit(1);
    } 
    total_size += buf.st_size;
   
    <font color=blue>/* If the file is a directory, make a recursive call to get_size(): */</font>

    if (S_ISDIR(buf.st_mode)) {
      total_size += get_size(de-&gt;d_name);
    }
  }
</pre></td></table></center><p>

When we try it, we get an odd error:

<pre>
UNIX> <font color=darkred><b>../bin/prsize3</b></font>
.: Too many open files
UNIX> <font color=darkred><b></b></font>
</pre>

So, what's happening?  Well, to check, I put a print statement into 
<b><a href=src/prsize3a.c>src/prsize3a.c</a></b>
to see when it's making the recursive calls:

<pre>
UNIX> <font color=darkred><b>../bin/prsize3a</b></font>
Making a recursive call to .
Making a recursive call to .
Making a recursive call to .
Making a recursive call to .
........                                 <font color=blue> # Deleting many lines</font>
Making a recursive call to .
.: Too many open files
UNIX> <font color=darkred><b></b></font>
</pre>

Now you can see what's happening.  When enumerating files in ".", you 
come across the file ".".  This is a directory, so you make a recursive call
on it.  This goes into an infinite loop until you run out of open file 
discriptors at which point <b>opendir()</b> fails.  
To fix this, you need to check
and see whether or not you are trying to make a recursive call to the "."
directory.  You need to check for ".." as well.  
We'll do that in the next program:

<hr>
<h3> After checking for "." and ".." we still have problems </h3>

We put the checks into 
<b><a href=src/prsize4.c>src/prsize4.c</a></b>:

<p><center><table border=3 cellpadding=3><td><pre>
    <font color=blue>/* If the file is a directory, and not . or .. make a recursive call to get_size(): */</font>

    if (S_ISDIR(buf.st_mode) && strcmp(de-&gt;d_name, ".") != 0 && strcmp(de-&gt;d_name, "..") != 0) {
      total_size += get_size(de-&gt;d_name);
    }
  }
</pre></td></table></center><p>

When we run it, the infinite loop bug is fixed, but we have another bug!!

<pre>
UNIX> <font color=darkred><b>../bin/prsize4</b></font>
Couldn't stat f3
UNIX> <font color=darkred><b></b></font>
</pre>

Ok, now what's the problem?  Where on earth is <b>f3</b>?

<pre>
UNIX> <font color=darkred><b>find . -name f3 -print</b></font>        <font color=blue> # find is a super-helpful command.  Read the man page.</font>
./d1/f3
UNIX> <font color=darkred><b></b></font>
</pre>

That gives us the answer: the program is
trying to stat <b>f3</b> in the directory <b>d1</b>, but it's not
working in the directory <b>d1</b>.  In other words, <b>prsize4</b>
is called from the directory
<b>Prsize/test1</b>, and
makes the call "<b>exists = stat("f3", &buf)</b>".  Of course
stat is going to return -1, because there is no file
<b>f3</b> in the directory.  Instead, we need to look for
"<b>d1/f3</b>".  In other words, our code has a bug -- we
need to be looking for <b>fn/de->d_name</b> in <b>get_size()</b>,
and not just <b>de->d_name</b>.  

<hr>
<h3>Building the file names solves one problem and uncovers another</h3>

We build the filenames in 
<b><a href=src/prsize5.c>src/prsize5.c</a></b>.  Here is the code that has changed.
It makes you yearn for C++ strings, doesn't it?

<p><center><table border=3 cellpadding=3><td><pre>
  int fn_size;              <font color=blue>/* This is the length of fn -- so we can build the filename. */</font>
  char *dir_fn;             <font color=blue>/* This will be the filename including the directory. */</font>
  int dir_fn_size;          <font color=blue>/* This is the bytes in dir_fn is, in case we need to make it bigger. */</font>
  int sz;

  <font color=blue>/* Skip the initialization. */</font>

  <font color=blue>/* ... */</font>

  <font color=blue>/* Start building the directory + files.   We'll start by setting dir_fn_size to fn_size+10,
     and we'll make it bigger as we need to.  It will be more efficient to use a number bigger
     than 10 for this, but 10 will let us debug the code if there's a problem. 

     I'm also setting up dir_fn to hold the directory name and a slash. */</font>

  fn_size = strlen(fn);
  dir_fn_size = fn_size + 10;
  dir_fn = (char *)</font> malloc(sizeof(char) * dir_fn_size);
  if (dir_fn == NULL) { perror("malloc dir_fn"); exit(1); }
  strcpy(dir_fn, fn);
  strcat(dir_fn + fn_size, "/");

  /* Run through the directory and run stat() on each file, 
     keeping track of the total size of all of the files.  */

  for (de = readdir(d); de != NULL; de = readdir(d)) {

    <font color=blue>/* First, we need to build dir_fn.  First check to see if it's big enough, and if not,
       we'll call realloc() to reallocate space.  Then we put the filename after the
       slash. */</font>

    sz = strlen(de-&gt;d_name);
    if (dir_fn_size &lt; fn_size + sz + 2) {       <font color=blue>/* The +2 is for the slash and null character. */</font>
      dir_fn_size = fn_size + sz + 10;          <font color=blue>/* The +10 adds some extra.  Again, I'd make this bigger, but I want to debug. */</font>
      dir_fn = realloc(dir_fn, dir_fn_size);
    }
    strcpy(dir_fn + fn_size + 1, de-&gt;d_name);   <font color=blue>/* I'm starting after the slash, and not at the beginning of the string. */</font>
   
    exists = stat(dir_fn, &buf);                <font color=blue>/* Use dir_fn instead of de->d_name. */</font>
    if (exists &lt; 0) {
      fprintf(stderr, "Couldn't stat %s\n", dir_fn);
      exit(1);
    } 

    total_size += buf.st_size;

    /* If the file is a directory, and not . or .. make a recursive call to get_size(): */

    if (S_ISDIR(buf.st_mode) && strcmp(de-&gt;d_name, ".") != 0 && strcmp(de-&gt;d_name, "..") != 0) {
      total_size += get_size(dir_fn);
    }
  }

  closedir(d);
  free(dir_fn);               <font color=blue>/* Have to free the memory that we allocated. */</font>
  return total_size;
}
</pre></td></table></center><p>

When we run it, it looks pretty good.  I put a longer filename into <b>d1</b> so that the
<b>realloc()</b> code is tested:

<pre>
UNIX> <font color=darkred><b>../bin/prsize5</b></font>
1322
UNIX> <font color=darkred><b>ls d1</b></font>
f3  file_with_a_longer_filename.txt
UNIX> <font color=darkred><b></b></font>
</pre>

Before moving on, we should sanity check our output:


<pre>
UNIX> <font color=darkred><b>../bin/prsize5</b></font>
1322
UNIX> <font color=darkred><b>ls -la</b></font>
total 8
drwxr-xr-x. 3 jplank jplank  36 Feb 18 15:00 .
drwxr-xr-x. 9 jplank jplank 240 Feb 18 15:45 ..
drwxr-xr-x. 2 jplank jplank  55 Feb 18 15:44 d1
-rw-r--r--. 1 jplank jplank  11 Sep 23  1994 f1
-rw-r--r--. 1 jplank jplank  15 Sep 23  1994 f2
UNIX> <font color=darkred><b>ls -l d1</b></font>
total 8
-rw-r--r--. 1 jplank jplank  17 Sep 23  1994 f3
-rw-r--r--. 1 jplank jplank 857 Feb 18 15:44 file_with_a_longer_filename.txt
UNIX> <font color=darkred><b>echo 36 + 240 + 55 + 11 + 15 + 17 + 857 | bc</b></font>
1231
UNIX> <font color=darkred><b></b></font>
</pre>

Hold on -- 1322 does not equal 1231.  Might not be a bad time to put a print statement in
front of the <b>stat()</b> call.  I'm not going to do that, because I know the problem --
I didn't consider "d1/." and "d1/.." when I calculated 1231 above:

<pre>
UNIX> <font color=darkred><b>ls -la d1</b></font>
total 8
drwxr-xr-x. 2 jplank jplank  55 Feb 18 15:44 .
drwxr-xr-x. 3 jplank jplank  36 Feb 18 15:00 ..
-rw-r--r--. 1 jplank jplank  17 Sep 23  1994 f3
-rw-r--r--. 1 jplank jplank 857 Feb 18 15:44 file_with_a_longer_filename.txt
UNIX> <font color=darkred><b>echo 36 + 240 + 55 + 11 + 15 + 55 + 36 + 17 + 857 | bc</b></font>
1322
UNIX> <font color=darkred><b></b></font>
</pre>

Do you think it's right to count the size of both "./d1"  and "d1/."?  Or both "." and
"d1/.."?  I don't.   If we move to <b>../test2</b>, we'll reveal a related problem:

<pre>
UNIX> <font color=darkred><b>cd ../test2</b></font>
UNIX> <font color=darkred><b>ls </b></font>
f4  f4-hard-link
UNIX> <font color=darkred><b>ls -lai</b></font>
total 8
     7876 drwxr-xr-x. 2 jplank jplank  36 Feb 11  2018 .
402660801 drwxr-xr-x. 9 jplank jplank 240 Feb 18 15:45 ..
     7877 -rw-r--r--. 2 jplank jplank  11 Sep 23  1994 f4
     7877 -rw-r--r--. 2 jplank jplank  11 Sep 23  1994 f4-hard-link
UNIX> <font color=darkred><b></b></font>
</pre>

As you can see, <b>f4</b> and <b>f4-hard-link</b> are links to the same file.
When we run <b>bin/prsize5</b>, it of course counts both of them:

<pre>
UNIX> <font color=darkred><b>../bin/prsize5</b></font>
298
UNIX> <font color=darkred><b>echo 36 + 240 + 11 + 11 | bc</b></font>
298
UNIX> <font color=darkred><b></b></font>
</pre>

Time for our next fix:

<hr>
<h3>Keeping track of inodes so we only count each file once</h3> 

What we need is for <b>prsize</b> to be able
to recognize hard links, and only count them once.<p>
How do you recognize whether two files are links to
the same disk file?  You use the inode number.  This
is held in <b>buf.st_ino</b>.<p>
<p>
The way we check for duplicate inodes is to
maintain a rb-tree of inodes that we have seen so far.
Before adding in the size of any file, we check to see
if its inode is in the rb-tree.  If so, we do nothing.
Otherwise, we add in the size, and put the inode into
the rb-tree.  
It is an unfortunate matter that on some systems, inodes are longs rather than ints,
so to store them in a JRB, we use the ".l" field of the jval, and add a custom
comparison function.
<p>
The code is in 
<b><a href=src/prsize6.c>src/prsize6.c</a></b>, and as usual, I'll just highlight the changes.

<p><center><table border=3 cellpadding=3><td><pre>
int compare(Jval v1, Jval v2)           <font color=blue>/* Adding a comparison function for inodes. */</font>
{
  if (v1.l &lt; v2.l) return -1;
  if (v1.l &gt; v2.l) return 1;
  return 0;
}

long get_size(const char *fn, JRB inodes)    <font color=blue>/* get_size now passes the tree of inodes. */</font>

    <font color=blue>/* A lot of code deleted. */</font>

    <font color=blue>/* Check the inodes tree to check if we've seen this file before.  
       If so, ignore.  If not, then add in its size. */</font>

    if (jrb_find_gen(inodes, new_jval_l(buf.st_ino), compare) == NULL) {
      jrb_insert_gen(inodes, new_jval_l(buf.st_ino), new_jval_i(0), compare);
      total_size += buf.st_size;
    }

    /* If the file is a directory, and not . or .. make a recursive call to get_size(): */</font>

    if (S_ISDIR(buf.st_mode) && strcmp(de-&gt;d_name, ".") != 0 && strcmp(de-&gt;d_name, "..") != 0) {
      total_size += get_size(dir_fn, inodes);    <font color=blue>/* I add the inode tree to get recursion. */</font>
    }
  }

  closedir(d);
  free(dir_fn);
  return total_size;
}

int main()
{
  long total_size;
  JRB inodes;              <font color=blue>/* I create the inode tree in main and pass it to the initial get_size() call.  */

  inodes = make_jrb();
  total_size = get_size(".", inodes); </font>
  printf("%ld\n", total_size);
  return 0;
}
</pre></td></table></center><p>

This fixes our previous problems:

<pre>
UNIX> <font color=darkred><b>../bin/prsize6</b></font>
287                             # This is 11 less than before, so it's correct.
UNIX> <font color=darkred><b>cd ../test1</b></font>
UNIX> <font color=darkred><b>../bin/prsize6</b></font>
1231                            # This matches our first calculation above, so it's correct.
UNIX> <font color=darkred><b></b></font>
</pre>

<hr>
<h3>Should we worry about soft links?</h3>

Look at the <b>test3</b> directory.

<pre>
UNIX> <font color=darkred><b>cd ../test3</b></font>
UNIX> <font color=darkred><b>ls -lai</b></font>
total 4
134269623 drwxr-xr-x. 2 jplank jplank  58 Sep 24  1996 .
402660801 drwxr-xr-x. 9 jplank jplank 240 Feb 18 16:16 ..
134345832 -rw-r--r--. 1 jplank jplank  11 Sep 23  1994 f5
134345834 lrwxrwxrwx. 1 jplank jplank   2 Aug  1  2014 f5-soft-link -> f5
134345833 lrwxrwxrwx. 1 jplank jplank   1 Aug  1  2014 soft-link-to-. -> .
UNIX> <font color=darkred><b></b></font>
</pre>

There are a couple of soft links here -- let's see what they do to <b>bin/prsize6</b>:

<pre>
UNIX> <font color=darkred><b>../bin/prsize6</b></font>
Couldn't stat ./soft-link-to-./soft-link-to-./soft-link-to-./soft-link-to-./soft-link-to-./soft-link-to-./soft-link-to-. <font color=blue>...</font>
UNIX> <font color=darkred><b></b></font>
</pre>


So, what has happened?  Since we're using <b>stat()</b>,
<b>bin/prsize6</b> doesn't recognize soft links, and thus we have
the same infinite loop problem as before.  It should
be clear what we want -- instead of traversing the
link to ".", we want <b>prsize</b> to count the size of the
link itself (2 bytes for <b>f5-soft-link</b> and 1 byte for
<b>soft-link-to-.</b>).  Thus, all we need to do in 
<a href=prsize7.c><b>prsize7.c</b></a>
is use <b>lstat()</b> instead of <b>stat()</b>.  This gives
information about the soft link itself, instead of the
file to which the link points: 

<pre>
UNIX> <font color=darkred><b>../bin/prsize7</b></font>
312
UNIX> <font color=darkred><b>echo 58 + 240 + 11 + 2 + 1 | bc</b></font>
312
UNIX> <font color=darkred><b></b></font>
</pre>

<hr>
<h3> We're not done yet -- there's a subtle bug with open files. </h3>

Finally, there's one more bug in this program, and it's really subtle.  
It has to do with open file descriptors.  First, go to the directory 
<b>test4</b>.  Below, I use the <tt>find</tt> command to show that it is
composed of 10 nested directories.  You can see that <b>bin/prsize7</b> works
just fine on it:

<pre>
UNIX> <font color=darkred><b>cd ../test4</b></font>
UNIX> <font color=darkred><b>find . -print</b></font>
.
./1
./1/2
./1/2/3
./1/2/3/4
./1/2/3/4/5
./1/2/3/4/5/6
./1/2/3/4/5/6/7
./1/2/3/4/5/6/7/8
./1/2/3/4/5/6/7/8/9
UNIX> ../bin/prsize7
381
UNIX>
</pre>

The reason that it works is that our defaults typically allow for a ton of
open files per process.  We can see this by running the BASH command <b>ulimit</b>
(if your shell doesn't recognize this command, try <b>limit</b> instead):

<pre>
UNIX> <font color=darkred><b>ulimit -a | grep open</b></font>
open files                      (-n) 1024
UNIX>
</pre>

On my Macintosh, this is even bigger -- 2560?  It's like system administrators 
<i>want</i> you do program wastefully!
Let's set this number to ten instead 
of 1024.  Now, <b>bin/prsize7</b> fails because of too many open files:

<pre>
UNIX> <font color=darkred><b>ulimit -n 10</b></font>
UNIX> <font color=darkred><b>ulimit -a | grep open</b></font>
open files                      (-n) 10
UNIX> <font color=darkred><b>../bin/prsize7</b></font>
./1/2/3/4/5/6/7: Too many open files
UNIX> <font color=darkred><b></b></font>
</pre>
What's happening is that the recursive calls to
<b>get_size()</b> are made in between the <b>opendir()</b> and
<b>closedir()</b> calls.  That means that each time we make a
recursive call, we add one to the number of open
files.  With only ten open files (and three open to start the process),
we run out of file descriptors when we try to open
<tt>"./1/2/3/4/5/6/7"</tt>.

<p>
The
solution to this is to make sure that there are no
open files when we make the recursive call.  How do we
do this?  When enumerating the files in a directory,
we put all directories into a dllist, and then after
closing the directory file, we traverse the list and
make the recursive calls.  We need to do a
<b>strdup()</b> when we put the directories into the
dllist.  Why?  Think it over,
or see what happens when you don't
do it...

The correct and final version of prsize is in 
<b><a href=src/prsize8.c>src/prsize8.c</a></b>.
Here are the changes:

<p><center><table border=3 cellpadding=3><td><pre>
long get_size(const char *fn, JRB inodes)
{
  <font color=blue>/* Other variable declarations are deleted. */</font>

  Dllist directories, tmp;  <font color=blue>/* Dllist of directory names, for doing recusion after closing. */</font>

  <font color=blue>/* Initialize (other code deleted). */</font>

  directories = new_dllist();

  for (de = readdir(d); de != NULL; de = readdir(d)) {

    <font color=blue>/* Other code deleted */</font>

    <font color=blue>/* Don't make the recursive call, but instead put the directory into the dllist. */</font>

    if (S_ISDIR(buf.st_mode) && strcmp(de-&gt;d_name, ".") != 0 && strcmp(de-&gt;d_name, "..") != 0) {
      dll_append(directories, new_jval_s(strdup(dir_fn)));
    }
  }

  <font color=blue>/* Make the recursive calls after you've closed the directory.  */</font>

  closedir(d);

  dll_traverse(tmp, directories) {
    total_size += get_size(tmp-&gt;val.s, inodes);
  }

  <font color=blue>/* Clean up.  You need to free the strings inside the dllist, because you
     allocated them with strdup(), and they'll be a memory leak otherwise. */</font>

  dll_traverse(tmp, directories) free(tmp-&gt;val.s);
  free_dllist(directories);
  free(dir_fn);

  return total_size;
}
</pre></td></table></center><p>

Now it works even with 10 file descriptors:

<pre>
UNIX> <font color=darkred><b>ulimit -n 10</b></font>
UNIX> <font color=darkred><b>../bin/prsize8</b></font>
381
UNIX> <font color=darkred><b></b></font>
</pre>


As an aside, it's 2021, and <b>find</b> still has the same bug as <b>prsize7.c</b>:

<pre>
UNIX> <font color=darkred><b>ulimit -a | grep open</b></font>
open files                      (-n) 10
UNIX> <font color=darkred><b>find . -print</b></font>
.
./1
./1/2
./1/2/3
./1/2/3/4
find: ‘./1/2/3/4’: Too many open files
UNIX>
</pre>

On the flip side, <b>tar</b> handles it correctly:

<pre>
UNIX> <font color=darkred><b>tar cvf ~/junk.tar .</b></font>
./
./1/
./1/2/
./1/2/3/
./1/2/3/4/
./1/2/3/4/5/
./1/2/3/4/5/6/
./1/2/3/4/5/6/7/
./1/2/3/4/5/6/7/8/
./1/2/3/4/5/6/7/8/9/
UNIX> 
</pre>

When I first wrote this lecture, in the mid 1990's, I made <b>test4</b> have
257 subdirectories, rather than 10.  That way, I didn't have mess with the 
<b>ulimit</b> command.  Within a day, I had an email from our system administrator,
complaining that the directory broke the system backup program.  It also
broke <b>tar</b>.  So, I changed the directory to its current structure.
I like to think that the good folks who write system tools fixed <b>tar</b>
because they stumbled upon my lecture notes.  A man can dream, can't he?
