<title>Answers to Clicker Questions for CStuff-1 Lecture</title>
<h2>Answers to Clicker Questions for CStuff-1 Lecture</h2>

COSC 360 - James S. Plank

<h3>Question 1</h3>

I have a program that starts as follows:

<p><center><table border=3 cellpadding=3><td><pre>
#include &lt;stdio.h&gt;
#include &lt;stdlib.h&gt;

typedef struct id {
  int i;
  double d;
} ID;

int main(int argc, char **argv)
{
  ID x, y;
  struct id z;
  ID *p;
  char s[20], *t;
</pre></td></table></center><p>

Which of the following lines will not compile?

<tt>
<OL>
<LI> <tt>"Fred" = s;</tt>  - This doesn't compile, because you can't set a string to anything.
<hr>
<LI> <tt>y->d = 3.14;</tt>  - This doesn't compile because y is a struct and not a pointer.  
      You need to do "y.d".
<hr>
<LI> <tt>x = y;</tt> - This compiles fine.  It will copy y to x.  I don't like it, but it's legal.
<hr>
<LI> <tt>p->i = x.i;</tt>  - This compiles fine.  Now, I'm not saying it's going to run correctly.  In particular, if we haven't initialized p, we'll be lucky to get a segmentation violation with this.  However, it compiles fine.
<hr>
<LI> <tt>s = t;</tt>  - This doesn't compile.  You can't set an array to anything.
<hr>
<LI> <tt>s = argv[1];</tt>  - This doesn't compile either for the same reason.
<hr>
<LI> <tt>s[30] = 'J';</tt> - This will compile, but some compilers will give you a warning, since you are accessing s out of bounds.  Some compilers won't care.
<hr>
<LI> <tt>p = &z;</tt>  - Perfectly legal.
<hr>
<LI> <tt>x.i = y.d;</tt>  - This is legal, too.  It will convert y.d to an integer.
<hr>
<LI> <tt>s[19] = x.i;</tt> - This is legal.  It will convert x.i to a one-byte integer.
<hr>
</OL>
</tt>
</font>
