<title>Clicker Questions for CStuff-1 Lecture</title>
<h2>Clicker Questions for CStuff-1 Lecture</h2>

COSC 360 - James S. Plank

<h3>Question 1</h3>

I have a program that starts as follows:

<p><center><table border=3 cellpadding=3><td><pre>
#include &lt;stdio.h&gt;
#include &lt;stdlib.h&gt;

typedef struct id {
  int i;
  double d;
} ID;

int main(int argc, char **argv)
{
  ID x, y;
  struct id z;
  ID *p;
  char s[20], *t;
</pre></td></table></center><p>

Which of the following lines will not compile?

<font size=+1>
<tt>
<OL>
<LI> <tt>"Fred" = s;</tt>
<LI> <tt>y->d = 3.14;</tt>
<LI> <tt>x = y;</tt>
<LI> <tt>p->i = x.i;</tt>
<LI> <tt>s = t;</tt>
<LI> <tt>s = argv[1];</tt>
<LI> <tt>s[30] = 'J';</tt>
<LI> <tt>p = &z;</tt>
<LI> <tt>x.i = y.d;</tt>
<LI> <tt>s[19] = x.i;</tt>
</OL>
</tt>
</font>
