<h3>Answer to Clicker Questions, Set 1</h3>

<b>Question 1:</b> 

<b>s</b> starts out uninitialized.  Let's just put -'s in its characters, and I'm not going to show all 100:
<pre>
s = "------------------------------------"
</pre>
The first <b>strcpy()</b> sets the first four bytes to "Fred" and the null character.  We'll denote
that with an asterisk:
<pre>
s = "Fred*-------------------------------"
</pre>
The second <b>strcpy()</b> sets the six bytes starting at byte 5 to "Mario" and the null character.
<pre>
s = "Fred*Mario*-------------------------"
</pre>
The <b>memcpy</b> copies just four bytes: 'L', 'u', 'i', 'g' and <i>no null character</i> to
the third byte after <b>s</b>.  Let's number the bytes too:
<pre>
s = "FreLuigrio*-------------------------"
     0123456789a
</pre>

The string starting at <b>s+2</b> is "eLuigrio".  Its size is 8, so that's the answer.
<hr>
<b>Question 2</b>: The answer is <i>C</i>, because the result of the <b>strdup()</b> call is
not saved anywhere.  In all of the other answers, the result of the <b>strdup()</b> call is
stored somewhere in the tree, so there's no memory leak.

<hr>
<b>Question 3</b>

As before, you track <b>s</b>, and after the <b>memcpy()</b>, it looks as follows:

<pre>
s = "FreMaraluigi*-----------------------"
     0123456789abcd
</pre>

<b>strchr()</b> returns a pointer to the first 'i', which is 9 bytes from the beginning of
<b>s</b>.  The answer is 9.
