<h3>Clicker Questions</h3>

In these questions, here are the prototypes of C procedures:

<p><center><table border=3 cellpadding=3><td><pre>
char *strcpy(char *dest, const char *src);
char *memcpy(void *dest, const void *src, int bytes);
size_t strlen(char *s);
char *strchr(const char *s, char c);
</pre></td></table></center><p>

<hr>
<b>Question 1:</b> What is the output of the following program?

<p><center><table border=3 cellpadding=3><td><pre>
#include &lt;stdio.h&gt;
#include &lt;string.h&gt;

int main()
{
  char s[100];
  strcpy(s, "Fred");
  strcpy(s+5, "Mario");
  memcpy(s+3, "Luigi", 4);
  printf("%d\n", (int) strlen(s+2));
  return 0;
}
</pre></td></table></center><p>

<hr>
<b>Question 2:</b> Which of the following lines of code must contain a memory leak:

<UL>
<LI> <i>A.</i> <tt>jrb_insert_str(b, strdup(s), new_jval_s(strdup(s)));</tt>
<LI> <i>B.</i> <tt>if (jrb_find_int(b, i) == NULL) jrb_insert_int(b, i, new_jval_v((void *) &amp;i)); </tt>
<LI> <i>C.</i> <tt>if (jrb_find_str(b, strdup(s)) == NULL) jrb_insert_str(b, s, new_jval_i(0));</tt>
<LI> <i>D.</i> <tt>if (jrb_find_str(b, s) == NULL) jrb_insert_str(b, strdup(s), new_jval_i(0));</tt>
<LI> <i>E.</i> <tt>jrb_insert_int(b, i, new_jval_v((void *) strdup(s)));</tt>
</UL>

<hr>
<b>Question 3:</b> What is the output of the following program?

<p><center><table border=3 cellpadding=3><td><pre>
#include &lt;stdio.h&gt;
#include &lt;string.h&gt;

int main()
{
  char s[100];
  strcpy(s, "Fred");
  strcpy(s+5, "Waluigi");
  memcpy(s+3, "Mario", 3);
  printf("%d\n", (int) (strchr(s, 'i') - s));
  return 0;
}
</pre></td></table></center><p>
