<title>CS360 Lecture notes -- Cat and its variants.  Buffering.</title>
<body bgcolor=ffffff>
<h1>CS360 Lecture notes -- Cat and its variants.  Buffering.</h1>

<UL>
<LI><a href=http://web.eecs.utk.edu/~jplank>James S. Plank</a>
<LI>Directory: <b>/home/plank/cs360/notes/Cat</b>
<LI>Lecture notes:
    <a href=http://web.eecs.utk.edu/~jplank/plank/classes/cs360/360/notes/Cat/lecture.html>
    <b>
  http://web.eecs.utk.edu/~jplank/plank/classes/cs360/360/notes/Cat/lecture.html
</b></a>
<LI> Original lecture notes -- I don't know -- 1995 maybe?
<LI> Last modification:
Fri Feb  5 12:15:03 EST 2021
</UL>
<hr>

<font color=red>As machines and devices get faster, you need to make the file
named <b>large.txt</b> bigger and bigger to make the programs in this lecture exhibit
large running times.  In 2018, the file was roughly 25 MB.  
If you are running the code from this directory, you may need to make <b>large.txt</b>
bigger. Do this in the makefile.</font>
<hr>


This lecture gives more detail on  writing "cat" with unix system calls
and with the C standard I/O library.  It also motivates buffering for
performance.

<h2>Simpcat</h2>
Here are three equivalent ways of writing a simple
   <b>cat</b> program, which just reads from standard input, and writes to standard
   output.


<p><center><table border=3 cellpadding=3><td valign=top>
<b><a href=src/simpcat1.c>src/simpcat1.c</a></b>
<hr>
<pre>
<font color=blue>/* Using getchar()/putchar(). */</font>

#include &lt;stdio.h&gt;
#include &lt;fcntl.h&gt;
#include &lt;stdio.h&gt;     
                       
int main()                 
{                      
  char c;              
                       
  c = getchar();       
  while(c != EOF) {    
    putchar(c);        
    c = getchar();     
  }                    
  return 0;
}                      
</pre></td>
<td valign=top>
<b><a href=src/simpcat2.c>src/simpcat2.c</a></b>
<hr>
<pre>
<font color=blue>/* Using read()/write(). */</font>

#include &lt;unistd.h&gt; 
                       
int main()                 
{                      
  char c;           
                       
  while(read(0, &c, 1) == 1) {
    write(1, &c, 1);    
  }                    
  return 0;
}                      
</pre></td>
<td valign=top>
<b><a href=src/simpcat3.c>src/simpcat3.c</a></b>
<hr>
<pre>
<font color=blue>/* Using fread()/fwrite(). */</font>

#include &lt;stdio.h&gt;

int main()
{
  char c;
  int i;

  i = fread(&c, 1, 1, stdin);
  while(i &gt; 0) {    
    fwrite(&c, 1, 1, stdout);
    i = fread(&c, 1, 1, stdin);
  }
  return 0;
}
</pre></td></table></center><p>

<p>

Let's look at these a little closer.  If you have pulled the lecture note
repo, cd to this directory and type "<b>make</b>".  (BTW, when you're done, you'll want 
to type "<b>make clean</b>", because <b>large.txt</b> is 25MB, and you don't need 
to waste space on it.)  Now do the following:
<pre>
UNIX> <font color=darkred><b>sh</b></font>
sh-3.2$ <font color=darkred><b>time bin/simpcat1 < data/large.txt > /dev/null</b></font>

real	0m1.685s
user	0m1.676s
sys	0m0.007s
sh-3.2$ <font color=darkred><b>time bin/simpcat2 < data/large.txt > /dev/null</b></font>

real	0m23.045s
user	0m9.073s
sys	0m13.798s
sh-3.2$ <font color=darkred><b>time bin/simpcat3 < data/large.txt > /dev/null</b></font>

real	0m2.151s
user	0m1.970s
sys	0m0.006s
sh-3.2$ 
UNIX> <font color=darkred><b></b></font>
</pre>

Depending on what machine you're using, you may likely to get different
times than the above -- those were on my Mac in 2021.
Regardless of the numbers that you get, 
the ratios between
<b>simpcat1</b>, <b>simpcat2</b> and <b>simpcat3</b> should be roughly the same.
<p>

So, what's going on?  <b>/dev/null</b> is a special file in Unix that you
can write to, but it never stores anything on disk.  We're using it
so that you don't create 25M files in your home directory as this
wastes disk space.  "<b>data/large.txt</b>" is a 25,000,000-byte file.  This means that
in <b>simpcat1.c</b>, <b>getchar()</b> and <b>putchar()</b> 
are being called 25 million
times each, as are <b>read()</b> and <b>write()</b> in <b>simpcat2.c</b>, and <b>fread()</b> and
<b>fwrite()</b> in <b>simpcat3.c</b>.  Obviously, the culprit in <b>simpcat2.c</b> is the
fact that the program is making system calls instead of library
calls.  Remember that a system call is a request made to the
operating system.  This means at each read/write call, the operating
system has to take over the CPU (this means saving the state of the
<b>simpcat2</b> program), process the request, and return (which means
restoring the state of the <b>simpcat2</b> program).  This is evidently far more
expensive than what <b>simpcat1.c</b> and <b>simpcat3.c</b> do.  Now, look at
<a href=src/simcat4.c><b>src/simcat4.c</b></a> and 
<a href=src/simcat5.c><b>src/simcat5.c</b></a>:

<p><center><table border=3 cellpadding=3><td valign=top>
<b><a href=src/simpcat4.c>src/simpcat4.c</a></b>
<hr>
<pre>
#include &lt;stdio.h&gt;
#include &lt;stdlib.h&gt;
#include &lt;unistd.h&gt;

int main(int argc, char **argv)
{
  int bufsize;
  char *c;
  int i;

  bufsize = atoi(argv[1]);
  c = (char *) malloc(bufsize*sizeof(char));
  i = 1;
  while (i &gt; 0) {
    i = read(0, c, bufsize);
    if (i &gt; 0) write(1, c, i);
  }
  return 0;
}
</pre></td>
<td valign=top>
<b><a href=src/simpcat5.c>src/simpcat5.c</a></b>
<hr>
<pre>
#include &lt;stdio.h&gt;
#include &lt;stdlib.h&gt;
#include &lt;unistd.h&gt;

int main(int argc, char **argv)
{
  int bufsize;
  char *c;
  int i;

  bufsize = atoi(argv[1]);
  c = (char *) malloc(bufsize*sizeof(char));
  i = 1;
  while (i &gt; 0) {
    i = fread(c, 1, bufsize, stdin);
    if (i &gt; 0) fwrite(c, 1, i, stdout);
  }
  return 0;
}
</pre></td></table></center><p>

<p>
These let us read in more than one byte at a time.  This is called
<i>buffering</i>:  You allocate a region of memory in which to store things,
so that you can make fewer system/procedure calls.  
Note that <b>fread()</b> and <b>fwrite()</b>
are just like <b>read()</b> and <b>write()</b>, 
except that they go to the standard I/O
library instead of the operating system.  
<p>
The graph below shows their relative speeds (this was in 2016 on my MacBook Pro,
running on a roughly 8MB input file.  The numbers will be different when you run 
this on the current version of <b>large.txt</b>, but the shape of the graph will 
be the same):

<p><center><table border=3><td><a href=img/Timing.jpg><img src=img/Timing.jpg width=400></a></td></table></center><p>

<p>
First, what can we infer now about the standard I/O library?  It uses 
buffering!  In other words, when you first call <b>getchar()</b> or <b>fread()</b>,
it performs a <b>read()</b> of a large number of bytes into a buffer.  Thus, 
subsequent <b>getchar()</b> or <b>fread()</b> calls will be fast.  
When you attempt
to <b>fread()</b> large segments of memory, the two exhibit the same behavior,
as <b>fread()</b> doesn't need to buffer -- it simply calls <b>read()</b>.
<p>

Why then is <b>getchar()</b> faster than <b>fread(c, 1, 1, stdin)</b>?  
Because <b>getchar()</b> is optimized for reading one character, and 
<b>fread()</b> is not.<p>  Think about it -- <b>fread()</b> needs to 
read four arguments, and if it's executing code for small values of the 
size, it at the very least needs to figure out that the size is small before
executing the code.  <b>getchar()</b> has been written to be really fast for
single characters.  

<hr>
<h2>What's the lesson behind this?</h2>

<ul>
<li>	1. Buffering is a good way to cut down on too many system calls.
<li>	2. If you are reading small chunks of bytes, then use <b>getchar()</b>
           or <b>fread()</b>.  They do buffering for you.
<li>     3. If you are doing single character I/O, use <b>getchar()</b> 
          (or <b>fgetc()</b>).
<li>  4. If you are reading large chunks of bytes, then <b>fread()</b> and
           <b>read()</b> work about the same.  However, you should use
           <b>fread()</b>, since it makes your programming more consistent,
           and because it does a little more error checking for you.
</ul>
The same is true for writes, even though we didn't go through them in 
detail in class.
<hr>
<h2>Standard I/O vs System calls.</h2>

Each system call has analogous procedure calls from the standard I/O library:
<pre>
System Call			Standard I/O call
-----------			-----------------
open				fopen
close				fclose
read/write			getchar/putchar
				getc/putc
				fgetc/fputc
				fread/fwrite
				gets/puts
				fgets/fputs
				scanf/printf
				fscanf/fprintf
lseek				fseek
</pre>
				
System calls work with integer file descriptors.  Standard I/O calls
define a structure called a <b>FILE</b>, and work with pointers to these
structs.  <p>

To exemplify, the following are versions of the program <b>cat</b> which 
must be called with <b>filename</b> as their arguments.  
<a href=cat1.c><b>Cat1.c</b></a>
uses system calls, and 
<a href=cat2.c><b>cat2.c</b></a>
uses the standard I/O library.  Both use an 8K buffer for the 
<b>read()/fread()</b> and <b>write()/fwrite()</b> calls.  Read the man page
for <b>open</b> ("man 2v open") and <b>fopen</b> ("man 3s fopen") 
to understand their 
arguments.<p>

Try:

<pre>
UNIX> <font color=darkred><b>sh -c "time bin/cat1 data/large.txt > /dev/null"</b></font>        <font color=blue> # As you can see,</font>

real	0m0.010s
user	0m0.003s
sys	0m0.006s
UNIX> <font color=darkred><b>sh -c "time bin/cat2 data/large.txt > /dev/null"</b></font>        <font color=blue> # Their performance is the same.</font>

real	0m0.010s
user	0m0.003s
sys	0m0.006s
UNIX> <font color=darkred><b></b></font>
</pre>


How do these compare to the first numbers?<p>

Finally, <a href=src/fullcat.c><b>src/fullcat.c</b></a>
contains a version of <b>cat</b> which works much like the
real version -- if you omit a filename, then it prints standard input to
standard output.  Otherwise, it prints out each file specified in the 
command line arguments.  Note how it is similar to both <b>simpcat1.c</b> and
<b>cat2.c</b>.  <p>

Type '<b>make clean</b>' when you're done to save disk space, and remove any
temporary files.  

<hr>
<h2>Chars vs ints</h2>

You'll note that <b>getchar()</b> is defined to return an <b>int</b> and
not a <b>char</b>.  Relatedly, look at 
<b><a href=simpcat1a.c>simpcat1a.c</a></b>:

<p><center><table border=3 cellpadding=3><td><pre>
#include &lt;stdio.h&gt;
#include &lt;fcntl.h&gt;
                       
int main()                 
{                      
  int c;              
                       
  c = getchar();       
  while(c != EOF) {    
    putchar(c);        
    c = getchar();     
  }                    
  return 0;
}                      
</pre></td></table></center><p>

The only difference between <b>simpcat1a.c</b> and <b>simpcat1.c</b> is 
that <b>c</b> is an <b>int</b> instead of a <b>char</b>.  Now, why 
would that matter?  Look at the following:

<pre>
UNIX> <font color=darkred><b>ls -l src/simpcat1.c bin/simpcat1</b></font>
-rwxr-xr-x  1 plank  staff  12604 Feb  5 12:17 bin/simpcat1
-rw-r--r--  1 plank  staff    466 Feb  5 12:15 src/simpcat1.c
UNIX> <font color=darkred><b>bin/simpcat1 > tmp1.txt</b></font>
^C
UNIX> <font color=darkred><b>bin/simpcat1 < bin/simpcat1 > tmp1.txt</b></font>
UNIX> <font color=darkred><b>bin/simpcat1 < src/simpcat1.c > tmp2.txt</b></font>
UNIX> <font color=darkred><b>ls -l tmp1.txt tmp2.txt</b></font>
-rw-r--r--  1 plank  staff  3919 Feb  7 23:37 tmp1.txt                    <font color=blue> # This file should be 12,604 bytes</font>
-rw-r--r--  1 plank  staff   466 Feb  7 23:38 tmp2.txt
UNIX> <font color=darkred><b></b></font>
</pre>

Notice anything wierd?  Now:

<pre>
UNIX> <font color=darkred><b>bin/simpcat1a < bin/simpcat1 > tmp3.txt</b></font>
UNIX> <font color=darkred><b>ls -l tmp3.txt</b></font>
-rw-r--r--  1 plank  staff  12604 Feb  7 23:38 tmp3.txt        <font color=blue> # Now the output file is the same size as the input file</font>
UNIX> <font color=darkred><b></b></font>
</pre>

This has to do with what happens when <b>getchar()</b> reads the character 255.
We'll talk about it in class.  See if you can figure it out.  
