<h2>Today's clicker questions</h2>

<h3>Question 1</h3>

Behold the following program, in 

<b><a href=src/click1.c>src/click1.c</a></b>:

<p><center><table border=3 cellpadding=3><td><pre>
#include &lt;stdio.h&gt;
#include &lt;stdlib.h&gt;
#include &lt;unistd.h&gt;
#include &lt;fcntl.h&gt;

int main()
{
  int fd;
  int child, parent, status;
  char c;

  fd = open("f1.txt", O_RDONLY);

  child = (fork() == 0);
  parent = !child;

  if (child) sleep(1);
  read(fd, &c, 1);
  if (parent) wait(&status);
  printf("%c\n", c);

  return 0;
}
</pre></td></table></center><p>

What is the output of the last command here:

<pre>
UNIX> <font color=darkred><b>cat f1.txt</b></font>
Christian Dogleg Jr
Tyler Sims
UNIX> <font color=darkred><b>gcc src/click1.c</b></font>
UNIX> <font color=darkred><b>./a.out</b></font>
</pre>

Here are your multiple choice answers:

<pre>
A. 'C' then 'C'
B. 'C' then 'D'
C. 'C' then 'T'
D. 'C' then 'h'
E. 'D' then 'C'
F. 'D' then 'D'
G. 'T' then 'C'
H. 'T' then 'T'
I. 'h' then 'C'
J. 'h' then 'h'
</pre>

<hr>
<h3>Question 2</h3>

After running the following program, how many lines are there in <b>f2.txt</b>?

<p><center><table border=3 cellpadding=3><td><pre>
#include &lt;stdio.h&gt;
#include &lt;stdlib.h&gt;
#include &lt;unistd.h&gt;
#include &lt;fcntl.h&gt;

int main()
{
  FILE *f;

  f = fopen("f2.txt", "w");
  fprintf(f, "Fred\n");
  fork();
  fork();
  fprintf(f, "Binky\n");
  fclose(f);
  return 0;
}
</pre></td></table></center><p>
<p>


<hr>
<h3>Question 3</h3>

If you call <b>alarm()</b> and then <b>fork()</b>, the operating system will
only generate <b>SIGALRM</b> for the parent process.
<p>
The default signal handler for <b>SIGLARM</b> has the process die
instantly, without calling <b>exit()</b>, and without flushing any stdio buffers.
<p>
If you wait a few seconds after the following program exits, how many lines
are there in <b>f3.txt</b>?

<p><center><table border=3 cellpadding=3><td><pre>
#include &lt;stdio.h&gt;
#include &lt;stdlib.h&gt;
#include &lt;unistd.h&gt;
#include &lt;fcntl.h&gt;

int main()
{
  FILE *f;

  f = fopen("f3.txt", "w");
  fprintf(f, "Fred\n");
  alarm(1);
  fork();
  sleep(2);
  fprintf(f, "Binky\n");
  fclose(f);
  return 0;
}
</pre></td></table></center><p>
