<h3>Answers to today's clicker questions</h3>

<h3>Question 1</h3>

Here's what happens:

<OL>
<LI> The process opens "f1.txt".  It uses <b>open</b> for this,
     so there is no buffering -- it's just a file descriptor in the
     operating system.
<LI> It calls <b>fork()</b>.  There are two boolean variables --
     <b>child</b> is true in the child and <b>parent</b> is true in 
     the parent.  
<LI> The child sleeps for a second.
<LI> The parent doesn't sleep, so it reads a byte from f1.txt.  That
     byte is the character 'C' -- the first byte in the file.
<LI> The parent then calls <b>wait()</b>.  That will block until the
     child is done.
<LI> The child eventually wakes up from its <b>sleep()</b> call, and 
     it calls <b>read()</b>. When you call <b>fork()</b> file descriptors
     are duplicated between the parent and child, as if <b>dup()</b> were
     called, so they share a seek pointer.  Therefore, the child reads
     the second byte from the file, which is the character 'h'.
<LI> The child now prints the 'h' and exits.
<LI> The parent wakes up from the <b>wait()</b> call, prints the 'C' and
     exits.
</OL>
So, the answer is <i>I</i>: 'h' then 'C'.

<pre>
UNIX> <font color=darkred><b>gcc src/click1.c</b></font>
UNIX> <font color=darkred><b>./a.out</b></font>
h
C
UNIX> <font color=darkred><b></b></font>
</pre>

<hr>
<h3>Question 2</h3>

Here's what happens:

<OL>
<LI> The file "f2.txt" is opened for writing via a stdio buffer.  Since
the output is going to a file, <b>fprintf()</b> calls will go into a buffer,
which isn't flushed until the buffer is full or explicitly flushed.
<LI> For that reason, "Fred" goes into the buffer, and not yet to "f2.txt".
<LI> After the first <b>fork()</b> call, there are two processes.
<LI> After the second <b>fork()</b> call, there are four processes.
<LI> All four processes write "Binky" into the buffer.
<LI> Then all four processes close <b>f</b>, which flushes the buffer.
For that reason, each process will write both "Fred" and "Binky".
<LI> Therefore, there are 8 lines of output.
</OL>

<pre>
UNIX> <font color=darkred><b>gcc src/click2.c</b></font>
UNIX> <font color=darkred><b>./a.out</b></font>
UNIX> <font color=darkred><b>cat -n f2.txt</b></font>
     1	Fred
     2	Binky
     3	Fred
     4	Binky
     5	Fred
     6	Binky
     7	Fred
     8	Binky
UNIX> <font color=darkred><b></b></font>
</pre>

<hr>
<h3>Question 3</h3>

Here's what happens:

<OL>
<LI> The file "f3.txt" is opened for writing via a stdio buffer.  Since
the output is going to a file, <b>fprintf()</b> calls will go into a buffer,
which isn't flushed until the buffer is full or explicitly flushed.
<LI> As before, "Fred" is written to the buffer, but not yet to the file.
<LI> We call <b>alarm(1)</b>, which will send SIGALRM to the process in
     a second.
<LI> We call <b>fork()</b>, and both processes sleep for two seconds.
<LI> After a second, SIGALRM is sent to the parent.  Since it did not
     set up a signal handler, the process will exit withtout flushing its
     buffers.  That means the parent never writes "Fred" to the file.
<LI> After another second, the child wakes up, wirte "Binky" to the buffer
     and then closes the file.  This flushes the buffer, so only two lines
     are written to the file.
<LI> Therefore, the answer is two.
</UL>

<pre>
UNIX> <font color=darkred><b>gcc src/click3.c</b></font>
UNIX> <font color=darkred><b>./a.out</b></font>
Alarm clock: 14                  <font color=blue> # On my mac, this is what happens when you don't catch SIGALRM</font>
UNIX> <font color=darkred><b>cat -n f3.txt</b></font>
     1	Fred
     2	Binky
UNIX> <font color=darkred><b></b></font>
</pre>

