<h3>Assembly 3 Clicker Question 2</h3>

Given the following program:
<p><center><table border=3 cellpadding=3><td><pre>
#include &lt;stdio.h&gt;

int a(int *p)
{
  return *p;
}

int main()
{
  int i, j;

  i = 0;
  j = 15;
  i = a(&j);
  printf("%d\n", i);
  return 1;
}
</pre></td></table></center><p>

Here's the state of memory just after the "jsr a" statement.  What is the value
at memory address <tt>0xfff440?</tt>.

<p><center><table border=3><td><a href=click2.jpg><img src=click2.jpg width=700></a></td></table></center><p>
