<h3>Answer Assembly 3 Clicker Question 2</h3>

You don't need assembly code to answer this.
Main()'s stack frame starts at <tt>0xfff448</tt>.  So,
we can label all of the stack that we know at the time
that <b>main()</b> calls <b>jsr</b>:

<pre>
Address    Identity
--------   --------
0xfff440   &j (the parameter to the call to a)
0xfff444   i
0xfff448   j
</pre>

When <b>main()</b> calls <b>jsr</b>, the old pc and old
fp are pushed onto the stack, and <b>a</b> gets a new
stack frame:

<pre>
Address    Identity
--------   --------
0xfff434   This is the top of a's stack: sp and fp will equal 0xfff434
0xfff438   main's fp: 0xfff448
0xfff43c   pc in main after the jsr call
0xfff440   &j (the parameter to the call to a)
0xfff444   i
0xfff448   j
</pre>

So, memory address <tt>0xfff440</tt> contains the address 
of <b>j</b>, which is <tt>0xfff448</tt>.  The answer is
<tt>0xfff448</tt>.
