<h3>Answers to the clicker questions</h3>

<UL>
<LI> <b>Question 1</b>: This is a classic <i>O(n<sup>2</sup>)</i> loop.  While the interior of
   the loop is composed of two statements, we ignore constant factors with big-O: <b>G</b>.
<p>
<LI> <b>Question 2</b>: Inserting into a red-black tree is an <i>O(log n)</i> action.  Doing it
<i>n</i> times is <i>O(n log n)</i>: <b>E</b>.
<p>
<LI> <b>Question 3</b>: In each iteration we choose a random number between 0 and <i>n-1</i>, and
then we insert it into the Dllist, keeping the Dllist sorted.  This is an incorrect way to 
use a Dllist, by the way.  If you're wanting to keep things sorted, use a red-black tree.
On average, you'll have to traverse half of the Dllist to find out where to insert the
element.  Thus, this is an <i>O(n<sup>2</sup>)</i> loop: <b>G</b>.
<p>
<LI> <b>Question 4</b>: If we did <b>strcat(s+i*2, "jj")</b>, or equivalently
<b>strcpy(s+i*2, "jj")</b>, then we'd be starting at the end of the list each time, and
each <b>strcat()/strcpy()</b> would be <i>O(1)</i>.  However, each <b>strcat()</b> call in 
the given program has to traverse <i>i</i> characters to find the end of the string.
Thus, each iteration is <i>O(i)</i>, and as we know, 1 + 2 + 3 + 4 + ... + <i>n</i> is
<i>O(n<sup>2</sup>)</i>.  Therefore, the overall running time is <i>O(n<sup>2</sup>)</i>: <b>G</b>.

</UL>
