<h3>Clicker Questions</h3>

For each snippet of code, please tell me the running time complexity.

<hr>
<h3>Question 1</h3>

<p><center><table border=3 cellpadding=3><td><pre>
void q1(int n)
{
  int i, j, t;

  t = 0;

  for (i = 0; i &lt; n; i++) {
    for (j = 0; j &lt; n; j++) {
      t++;
      t++;
    }
  }
}
</pre></td></table></center><p>

<hr>
<h3>Question 2</h3>

<p><center><table border=3 cellpadding=3><td><pre>
#include "jrb.h"

JRB q2(int n)
{
  JRB t;
  int i;

  t = make_jrb();
  for (i = 0; i &lt; n; i++) {
    jrb_insert_int(t, i*i, new_jval_i(i*i+i*i));
  }
  return t;
}
</pre></td></table></center><p>

<hr>
<h3>Question 3</h3>

<p><center><table border=3 cellpadding=3><td><pre>
#include &lt;stdlib.h&gt;
#include "dllist.h"

Dllist q3(int n)
{
  Dllist l, tmp;
  int i, v;

  l = new_dllist();
  for (i = 0; i &lt; n; i++) {
    v = drand48() * n;       <font color=blue>/* This gives us a random integer between 0 and n */</font>
    for (tmp = l-&gt;flink; 
         tmp != l && tmp-&gt;val.i &lt; n; 
         tmp = tmp-&gt;flink) ;
    dll_insert_b(tmp, new_jval_i(v));
  }
  return l;
}
</pre></td></table></center><p>

<hr>
<h3>Question 4</h3>

<p><center><table border=3 cellpadding=3><td><pre>
#include &lt;string.h&gt;
#include &lt;stdlib.h&gt;

char *q4(int n)
{
  char *s;
  int i;

  s = (char *) malloc(sizeof(char) * (n*2)+1);

  s[0] = '\0';
  for (i = 0; i &lt; n; i++) {
    strcat(s+i, "jj");
  }
  return s;
}
</pre></td></table></center><p>
