<h3>Clicker Questions for Today</h3>

You're running the following program in <b>jassem</b>:

<p><center><table border=3 cellpadding=3><td><pre>
int a(int i)
{
  if (i == 0) return 1;
  return 1+a(i-1);
}

int main()
{
  a(256);
}
</pre></td></table></center><p>

When <b>main()</b> starts, the frame pointer is <tt>0xf799110</tt>.
What is the lowest value that the frame pointer is set to during this program?
<p>
Here are some quantities that might help you:

<pre>
0xf799110 - 256 *  1 = 0xf799010
0xf799110 - 256 *  2 = 0xf798f10
0xf799110 - 256 *  3 = 0xf798e10
0xf799110 - 256 *  4 = 0xf798d10
0xf799110 - 256 *  5 = 0xf798c10
0xf799110 - 256 *  6 = 0xf798b10
0xf799110 - 256 *  7 = 0xf798a10
0xf799110 - 256 *  8 = 0xf798910
0xf799110 - 256 *  9 = 0xf798810
0xf799110 - 256 * 10 = 0xf798710
0xf799110 - 256 * 11 = 0xf798610
0xf799110 - 256 * 12 = 0xf798510
0xf799110 - 256 * 13 = 0xf798410
0xf799110 - 256 * 14 = 0xf798310
0xf799110 - 256 * 15 = 0xf798210
0xf799110 - 256 * 16 = 0xf798110
0xf799110 - 256 * 17 = 0xf798010
0xf799110 - 256 * 18 = 0xf797f10
0xf799110 - 256 * 19 = 0xf797e10
0xf799110 - 256 * 20 = 0xf797d10
0xf799110 - 256 * 21 = 0xf797c10
0xf799110 - 256 * 22 = 0xf797b10
0xf799110 - 256 * 23 = 0xf797a10
0xf799110 - 256 * 24 = 0xf797910
</pre>
