<h3>Answer To Clicker Questions for Today</h3>

To answer this question, let's think about this from the assembly code perspective.
We don't have to write the assembly code, but if it helps you:

<p><center><table border=3 cellpadding=3><td><pre>
a:
    ld [fp+12] -&gt; %r0
    cmp %r0, %r1
    bne l1
    mov #1 -&gt; %r0
    ret
l1:
    ld [fp+12] -&gt; %r0
    add %r0, %gm1 -&gt; %r0
    st %r0 -&gt; [sp]--
    jsr a
    pop #4
    add %r0, %g1 -&gt; %r0
    ret

main:
    mov #256 -&gt; %r0
    st %r0 -&gt; [sp]--
    jsr a
    pop #4
    ret
</pre></td></table></center><p>

So, from the perspective of the stack, here's what <b>main()</b> does:

<UL>
<LI> It pushes the value 256 onto the stack (4 bytes).
<LI> It calls <b>jsr a</b> (8 bytes -- old pc and old fp).
</UL>

So, when <b>a()</b> runs, the frame pointer will be 12 bytes lower than when it
started.  Now, when <b>a()</b> runs and its argument is not zero, it is similar to
<b>main()</b>:

<UL>
<LI> It pushes the argument to the next <b>a()</b> onto the stack (4 bytes).
<LI> It calls <b>jsr a</b> (8 bytes -- old pc and old fp).
</UL>

When its argument is zero, it doesn't modify the stack or frame pointer.  However, its
value of the frame pointer will be the minimum value of the frame pointer.  So, let's count:

<UL>
<LI> When <b>a(256)</b> is called, the <b>fp</b> will be <tt>0xf799110 - 12</tt>.
<LI> When <b>a(255)</b> is called, the <b>fp</b> will be <tt>0xf799110 - 12 * 2</tt>.
<LI> When <b>a(254)</b> is called, the <b>fp</b> will be <tt>0xf799110 - 12 * 3</tt>.
<LI> When <b>a(253)</b> is called, the <b>fp</b> will be <tt>0xf799110 - 12 * 4</tt>.
<p>
...
<p>
<LI> When <b>a(1)</b> is called, the <b>fp</b> will be <tt>0xf799110 - 12 * 256</tt>.
<LI> When <b>a(0)</b> is called, the <b>fp</b> will be <tt>0xf799110 - 12 * 257</tt>.
</UL>

So, the minimum value of the frame pointer is <tt>0xf799110 - 12 * 257</tt>.  Looking at
the values given to you in the problem, this is <tt>(0xf799110 - 12 * 256) - 12</tt>,
which is <tt>0xf798510 - 12 = 0xf798504</tt>.

