<title> Clicker Questions for the CStuff-2 Lecture</title>
<h2> Clicker Questions for the CStuff-2 Lecture</h2>

Please refer to the following code for all questions. Assume that the machine is little-endian.

<p><center><table border=3 cellpadding=3><td><pre>
#include &lt;stdio.h&gt;
#include &lt;stdlib.h&gt;

int main()
{
  unsigned int p[2];
  unsigned int x;
  unsigned char *cp;
  unsigned char c;

  p[0] = 0x28f4a13e;
  p[1] = 0xbc70695d;
  cp = (unsigned char *) p;

  c = cp[0];                          printf("0x%02x\n", c);
  c = cp[6];                          printf("0x%02x\n", c);
  c = (p[0] &gt;&gt; 8);                    printf("0x%02x\n", c);
  x = ((p[0] &gt;&gt; 16) | (p[1] &lt;&lt; 16));  printf("0x%08x\n", x);
  return 0;
}
</pre></td></table></center><p>

<center>
<table><td valign=top>
<hr>
<h3>Question 1</h3>

What is the first line of output of this program?  Choices are:

<pre>
A. 0x28
B. 0x28f4
C. 0x28f4a13e
D. 0x3e
E. 0x3ea1f428
F. 0x5d
G. 0x82
H. 0xa13e
I. 0xbc
J. 0xe3
</pre>
</td><td valign=top>
<hr>
<h3>Question 2</h3>

What is the second line of output of this program?  Choices are:

<pre>
A. 0x07
B. 0x5d
C. 0x69
D. 0x695d
E. 0x70
F. 0x96
G. 0xbc
H. 0xbc70
I. 0xbc70695d
J. 0xd59607cb
</pre>
</td><td valign=top>
<hr>
<h3>Question 3</h3>

What is the third line of output of this program?  Choices are:

<pre>
A. 0x13
B. 0x28
C. 0x28f4
D. 0x28f4a13e
E. 0x28f4a1
F. 0x3e
G. 0xa13e
H. 0xa1
I. 0xf4
J. 0xf4a13e
</pre>
</td><td valign=top>
<hr>
<h3>Question 4</h3>

What is the last line of output of this program?  Choices are:

<pre>
A. 0x28f4
B. 0x28f4695d
C. 0x28f4bc70
D. 0x695d
E. 0x695d28f4
F. 0xa13e
G. 0xa13e695d
H. 0xa13ebc70
I. 0xbc70
J. 0xbc70a13e
</pre>
</td></table></center>
