<h2>Answers to the clicker questions for the CStuff-2 Lecture</h2>

There is a video of these answers at:
<a href=https://youtu.be/QzhP-OcYPdo>https://youtu.be/QzhP-OcYPdo</a>.
<p>
You can cut/paste/compile/run to confirm these answers.
<p>
Take a look at the following picture, which shows
<tt>p</tt> and <tt>cp</tt>.  The ordering of <tt>cp</tt> is because the machine is little
endian:


<pre>
             cp[3] cp[2] cp[1] cp[0]
p[0]:      0x   28    f4    a1    3e

             cp[7] cp[6] cp[5] cp[4]
p[1]:      0x   bc    70    69    5d
</pre>

This diagram clearly answers the first two questions:

<UL>
<LI> <b>Question 1</b>: <tt>cp[0] is 0x3e</tt>: D
<LI> <b>Question 2</b>: <tt>cp[6] is 0x70</tt>: E
</UL>

Now, <tt>(p[0] >> 8)</tt> will shift the least significant byte of <tt>p[0]</tt> off,
and you are left with 0x28f4a1.  When we store it as a byte, it takes the least significant
byte, and jettisons the rest: 

<UL>
<LI> <b>Question 3</b>: <tt>c is 0xa1</tt>: H
</UL>

For question 4, <tt>(p[0] >> 16)</tt> will shift the least significant two bytes 
of <tt>p[0]</tt> off: 0x28f4.
<p>
<tt>(p[1] << 16)</tt> will shift the least significant two bytes into the most significant
positions, and put zeros in their place: 0x695d0000.  When you OR them together, you get
the answer:
<p>
<UL>
<LI> <b>Question 4</b>: <tt>x is 0x695d28f4</tt>: E
</UL>
