<h3>Clicker Questions -- Answers</h3>

From the first few lines, there are only 16 bytes in question -- k[0] through k[3].
Let's label them before they are set:


<pre>
               3      2      1      0
       k[0]                            cp[0] through cp[3]
       k[1]                            cp[4] through cp[7]
ip[0]  k[2]                            cp[8] through cp[11]
ip[1]  k[3]                            cp[12] through cp[15]
</pre>

The <b>for</b> loop sets the bytes.  Each <b>cp[i]</b> will
be of the form <tt>0xwy</tt>, where <i>w</i> is equal to <i>i</i>,
and <i>y</i> is equal to 15-<i>i</i>.  Here is what the 16 bytes
look like:

<pre>
                 3      2      1      0
              ----   ----   ----   ----
       k[0]   0x3c   0x2d   0x1e   0x0f     cp[0] through cp[3]
       k[1]   0x78   0x69   0x5a   0x4b     cp[4] through cp[7]
ip[0]  k[2]   0xb4   0xa5   0x96   0x87     cp[8] through cp[11]
ip[1]  k[3]   0xf0   0xe1   0xd2   0xc3     cp[12] through cp[15]
</pre>

This allows us to answer the first four questions:

<UL>
<LI> <b>Question 1</b>: <tt>0x3c</tt>
<LI> <b>Question 2</b>: <tt>0x78</tt>
<LI> <b>Question 3</b>: <tt>0x3c2d1e0f</tt>
<LI> <b>Question 4</b>: <tt>0xb4a59687</tt>
</UL>

The <tt>memcpy()</tt> statement will move the four bytes starting at
index cp+10 to the four bytes starting at index cp+2. When it's done, here are
the 16 bytes of memory:

<pre>
                 3      2      1      0
              ----   ----   ----   ----
       k[0]   0xb4   0xa5   0x1e   0x0f     cp[0] through cp[3]
       k[1]   0x78   0x69   0xd2   0xc3     cp[4] through cp[7]
ip[0]  k[2]   0xb4   0xa5   0x96   0x87     cp[8] through cp[11]
ip[1]  k[3]   0xf0   0xe1   0xd2   0xc3     cp[12] through cp[15]
</pre>

This allows us to answer the next four questions:

<UL>
<LI> <b>Question 5</b>: <tt>0xb4</tt>
<LI> <b>Question 6</b>: <tt>0xc3</tt>
<LI> <b>Question 7</b>: <tt>0xb4a51e0f</tt>
<LI> <b>Question 8</b>: <tt>0x7869d2c3</tt>
</UL>

<tt>cp</tt> and <tt>ip</tt> are now set to be <tt>(k+3)</tt>.  So the answer
to question 9 is three.
<p>
When we do the pointer arithmetic by bytes rather than ints, the difference between
<tt>cp</tt> and <tt>k</tt> is 12, so the answer to question 10 is 12.
