<h3>Today's Clicker Questions</h3>

Your machine has four byte pointers and is little endian.  You will be asked for the 
output of the program below in ten questions - one per line of output.

<p><center><table border=3 cellpadding=3><td valign=top><pre>
int main()
{
  unsigned int k[4];
  unsigned char *cp;
  unsigned int *ip;
  int i;

  cp = (unsigned char *) k;
  ip = k+2;
  for (i = 0; i &lt; 16; i++) {
    cp[i] = i*16 + 15-i;
  }

  printf("0x%x\n", cp[3]);   /* Output line 1. */
  printf("0x%x\n", cp[7]);   /* Output line 2. */
  printf("0x%x\n", k[0]);    /* Output line 3. */
  printf("0x%x\n", *ip);     /* Output line 4. */
</pre></td><td  valign=top><pre>


  memcpy(cp+2, cp+10, 4);
  printf("0x%x\n", cp[3]);    /* Output line 5. */
  printf("0x%x\n", cp[4]);    /* Output line 6. */
  printf("0x%x\n", k[0]);     /* Output line 7. */
  printf("0x%x\n", k[1]);     /* Output line 8. */

  cp += 12;
  ip = (unsigned int *) cp;
  i = ip - k;
  printf("%d\n", i);          /* Output line 9. */

  i = cp - (unsigned char *) k;
  printf("%d\n", i);          /* Output line 10. */
  return 0;
}  
</pre></td></table></center><p>

<UL>
<LI> <b>Question 1</b>: What is line 1 of the output?
<LI> <b>Question 2</b>: What is line 2 of the output?
<LI> <b>Question 3</b>: What is line 3 of the output?
<LI> <b>Question 4</b>: What is line 4 of the output?
<LI> <b>Question 5</b>: What is line 5 of the output?
<LI> <b>Question 6</b>: What is line 6 of the output?
<LI> <b>Question 7</b>: What is line 7 of the output?
<LI> <b>Question 8</b>: What is line 8 of the output?
<LI> <b>Question 9</b>: What is line 9 of the output?
<LI> <b>Question 10</b>: What is line 10 of the output?
</UL>

