<h2>Clicker Questions</h2>

In these questions, recall that you call <b>execlp</b> with:

<p><center><table border=3 cellpadding=3><td><pre>
execlp(program, arg0, arg1, ... NULL)
</pre></td></table></center><p>

It searches your <b>PATH</b> environment variable to find the <b>program</b>.

<hr>
<h3>Question 1</h3>

How many lines will the following program print?

<p><center><table border=3 cellpadding=3><td><pre>
#include &lt;stdio.h&gt;
#include &lt;stdlib.h&gt;
#include &lt;unistd.h&gt;

int main()
{
  if (fork() == 0) printf("Fred %d\n", getpid());
  if (fork() == 0) printf("Fred %d\n", getpid());
  return 0;
}
</pre></td></table></center><p>

<hr>
<h3>Question 2</h3>

Suppose that <b>fred.txt</b> is two lines.
How many lines will the following program print?

<p><center><table border=3 cellpadding=3><td><pre>
#include &lt;stdio.h&gt;
#include &lt;stdlib.h&gt;
#include &lt;unistd.h&gt;
#include &lt;sys/wait.h&gt;

int main()
{
  int status;

  printf("Hi\n");
  if (fork() == 0) {
    execlp("cat", "cat", "fred.txt", NULL);
    execlp("cat", "cat", "fred.txt", NULL);
    execlp("cat", "cat", "fred.txt", NULL);
    exit(1);
  } else {
    (void) wait(&status);
    printf("Done\n");
  }
  return 0;
}
</pre></td></table></center><p>

<hr>
<h3>Question 3</h3>

Suppose I compile the following program to <b>bin/click3</b> and I then do:

<pre>
UNIX> <font color=darkred><b>bin/click3 > tmp.txt</b></font>
</pre>

How many lines will <b>tmp.txt</b> be?

<p><center><table border=3 cellpadding=3><td><pre>
#include &lt;stdio.h&gt;
#include &lt;stdio.h&gt;
#include &lt;unistd.h&gt;
#include &lt;sys/wait.h&gt;

int main()
{
  int status;

  printf("Hi\n");
  if (fork() == 0) {
    printf("I am a child.\n");
  } else {
    printf("I am no child.\n");
    wait(&status);
  }
  return 0;
}
</pre></td></table></center><p>

<hr>
<h4>Question 4</h4>

Suppose I compile the following program to <b>bin/click4</b> and I then do:

<pre>
UNIX> <font color=darkred><b>cat fred.txt</b></font>
Fred: Line 1
Fred: Line 2
UNIX> <font color=darkred><b>bin/click4 > tmp.txt</b></font>
</pre>

How many lines will <b>tmp.txt</b> be?

<p><center><table border=3 cellpadding=3><td><pre>
#include &lt;stdio.h&gt;
#include &lt;stdio.h&gt;
#include &lt;unistd.h&gt;
#include &lt;sys/wait.h&gt;

int main()
{
  int status;

  printf("Hi\n");
  if (fork() == 0) {
    execlp("cat", "cat", "fred.txt", NULL);
  } else {
    wait(&status);
    printf("Done\n");
  }
  return 0;
}
</pre></td></table></center><p>

<hr>
<h4>Question 5</h4>

In question 4, what will the first line of <b>tmp.txt</b> be?

<UL>
<LI> <i>A.</i> "Hi"
<LI> <i>B.</i> "Done"
<LI> <i>C.</i> "Fred: Line 1"
<LI> <i>D.</i> "Fred: Line 2"
</UL>
