<h2>Answers to Clicker Questions</h2>

The programs are in the <b>src</b> directory, in case you want to double-check:

<hr>
<h3>Question 1</h3>

<pre>
UNIX> <font color=darkred><b>bin/click1</b></font>
Fred 22317
Fred 22318
UNIX> <font color=darkred><b></b></font>Fred 22319
</pre>

The answer is three.  After the first <b>fork()</b> call, there are two processes, but
only one of them (the child) returned 0 from <b>fork()</b>.  So it prints a line.
Now, there are two processes calling the secont <b>fork()</b>, so after the second
<b>fork()</b> call, there are four processes and two of them (the child of the child,
and the second child of the parent) returned 0 from <b>fork()</b>.  They each print a line,
for a total of three lines.
<p>
You'll note in the output above, that the parent returned before the last child printed.
That's why the shell prompt is printed before the last line.

<hr>
<h3>Question 2</h3>

<pre>
UNIX> <font color=darkred><b>bin/click2</b></font>
Hi
Fred: Line 1
Fred: Line 2
Done
UNIX> <font color=darkred><b></b></font>
</pre>

Since output is to the terminal, the stdout buffer is flushed at the end of every
line.  So the "Hi" line is indeed printed after the <b>printf()</b> statement.
The <b>execlp()</b> statement loads <b>cat</b> into the address space and runs it.
It will print the two lines of <b>fred.txt</b> and exit.  Since the <b>execlp()</b>
call is successful, its address space is gone, and it doesn't return.  Those other
<b>execlp()</b> calls are never executed.
<p>
When the child exits, the parent prints "Done".  The output is four lines.


<hr>
<h3>Question 3</h3>

Suppose I compile the following program to <b>bin/click3</b> and I then do:

<pre>
UNIX> <font color=darkred><b>bin/click3 > tmp.txt</b></font>
UNIX> <font color=darkred><b>cat tmp.txt</b></font>
Hi
I am a child.
Hi
I am no child.
UNIX> <font color=darkred><b></b></font>
</pre>

As you can see, it prints four lines.  That's because we're redirecting <b>stdout</b> to a 
file, and the <b>printf()</b> call is buffered.  The <b>fork()</b> call copies the buffer,
and that is why "Hi" is printed twice.

<hr>
<h4>Questions 4 and 5</h4>

<pre>
UNIX> <font color=darkred><b>cat fred.txt</b></font>
Fred: Line 1
Fred: Line 2
UNIX> <font color=darkred><b>bin/click4 > tmp.txt</b></font>
UNIX> <font color=darkred><b>cat tmp.txt</b></font>
Fred: Line 1
Fred: Line 2
Hi
Done
UNIX> <font color=darkred><b></b></font>
</pre>

As in the previous question, the "Hi" line goes into a buffer.  That buffer is indeed
copied to the child process in the <b>fork()</b> call.  However, the <b>execlp()</b>
call overwrites the address space, so the buffer is gone.  As a result, the child never
prints "Hi".  
<p>
So there are four lines -- two from the parent and two from the child.
<p>
The first line is "Fred: Line 1".  Remember, the "Hi" is in the parent's buffer, and it doesn't
get printed until the parent exits.  The parent has called <b>wait()</b>, so it doesn't print
its buffer until after the child has printed its output.
